{% extends "base.html.twig" %}
{% trans_default_domain "tools" %}

{% block body %}

    <div class="wmw-dashboard col-xs-10 col-xs-offset-1 row">

        <div class="wmw-dashboard-sidebar col-xs-12 col-lg-2">

            {% set ringLevel = 50 %}
            {% if user.images is not empty %}
                {% set ringLevel = ringLevel + 25 %}
            {% endif %}
            {% if user.linkedinId is not null %}
                {% set ringLevel = ringLevel + 25 %}
            {% endif %}
            <div class="sidebar-progress sidebar-progress--{% if ringLevel == 50 %}1{% elseif ringLevel == 75 %}2{% else %}3{% endif %}" title="{{ 'mouseover.strenght' | trans }}">
                {{ 'header.profile' | trans }}<br/>
                {{ ringLevel }}%
            </div>

            <div class="sidebar-notifications">
                <label for="wmw-profile-notifications">
                    <i class="icon icon--bell"></i>
                    Email<br/>notifications
                </label>
                <div class="wmw-switchfield wmw-switchfield--small">
                    <input type="checkbox" id="wmw-profile-notifications" {% if user.notification %}checked{% endif %}/>
                    <label for="wmw-profile-notifications"></label>
                </div>
            </div>

            <div class="sidebar-text">
                <strong>{{ 'dashboard.advisor.fyi.title' | trans | upper }}</strong>
                {{ 'dashboard.advisor.fyi.text' | trans | upper }}
            </div>

        </div>

        {# new missions #}
        <div class="wmw-dashboard-main col-xs-12 col-lg-10">

            {% if news is not empty %}<h2 class="main-title"><i class="icon icon--star"></i>{{ 'dashboard.advisor.new.title' | trans }}{% endif %}</h2>

            <div class="main-slider wmw-slider{% if news|length <= 1 %} wmw-slider--noarrow{% endif %}{% if news|length <= 3 %} wmw-slider--noarrowdesktop{% endif %}">
                <div class="wmw-slider-inner row">

                    {% for new in news %}
                        <div class="wmw-slider-element col-xs-12 col-sm-6 col-md-4">

                        <div class="main-slider-element">
                            <div class="main-slider-element-wrapper">
                                <div class="main-slider-date">{{ 'dashboard.advisor.new.date' | trans }} {{ new.mission.creationDate | date("m/d/Y") }}<br></div>
                                <div class="main-slider-title">{{ new.mission.title | trans }}</div>
                                <div class="main-slider-desc">{{ new.mission.resume | truncate(100, false, '[...]') }}</div>
                                <div class="main-slider-price">
                                    <strong>{{ new.mission.professionalExpertise.name | trans }}</strong>
                                    {{ new.mission.price | currency_convert_format(new.mission.currency.code, false, true, 'USD') }}
                                    {{ 'mission.view.price_day' | trans }}
                                    <small>{{ new.mission.businessPractice.name | trans }}</small>
                                </div>
                                <div class="main-slider-infos">
                                    <span><i class="icon icon--clock"></i>{{ new.mission.applicationEnding | time_diff }}</span>
                                    <span><i class="icon icon--pointer"></i>{{ new.mission.address.city }} - {{ new.mission.address.country | upper }}</span>
                                </div>
                            </div>
                            <a href="{{ path('mission_interested', {'missionId': new.mission.id}) }}">
                                <button type="button" data-mission-id="{{ new.mission.id }}" class="main-slider-interested wmw-button wmw-button--green">
                                    <i></i><span>{{ 'dashboard.advisor.new.interestedbutton' | trans }}</span><i></i>
                                </button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                    {% if news is empty and wips is empty %}
                        <div class="wmw-slider-element wmw-slider-element--empty">
                            <span>
                                <img src="{{ asset('images/picto_Working.jpg') }}" /><br />
                                {{ 'mission.message.no_proposition' | trans }}
                            </span>
                        </div>
                    {% endif %}
                </div>

                <div class="wmw-slider-navigation">
                    <a href="#" class="wmw-slider-navigation--prev"><i class="icon icon--arrow"></i></a>
                    <a href="#" class="wmw-slider-navigation--next"><i class="icon icon--arrow"></i></a>
                </div>

            </div>

            {# wip missions #}
            {% if wips is not empty %}
                <h2 class="main-title"><i class="icon icon--document"></i>{{ 'dashboard.advisor.wip.title' | trans }}</h2>
            {% endif %}
                <div class="main-missions">

                    {% for wip in wips %}


                        {% if wip.status == constant('INTERESTED', wip) or wip.status == constant('MATCHED', wip) %}
                            <div class="main-missions-el main-missions-el--waiting row">
                        {% elseif wip.status == constant('ONGOING', wip) %}
                            <div class="main-missions-el main-missions-el--toanswer row">
                        {% elseif wip.status == constant('SHORTLIST', wip) %}
                            <div class="main-missions-el main-missions-el row">
                        {% elseif wip.status == constant('FINALIST', wip) %}
                            <div class="main-missions-el main-missions-el--selected row">
                        {% endif %}

                                {% set unread = 0 %}
                                {% if wip.thread != null %}
                                    {% set message = wip.thread.messages.last %}
                                    {% if message.metadata[1].isRead == false and message.sender != user %}
                                        {% set unread = unread + 1 %}
                                    {% endif %}
                                {% endif %}

                                <div class="main-missions-el-content col-xs-12 col-md-6">
                                    <div class="content-date">{{ 'dashboard.advisor.wip.date' | trans }} {{ wip.mission.creationDate | date("m/d/Y") }}</div>
                                    <div class="content-title">{{ wip.mission.title | trans }}</div>
                                    <div class="content-desc">
                                        {{ wip.mission.resume | truncate(100, false, '[...]') }}<br>
                                        <a href="{{ path('mission_view', {'missionId': wip.mission.id}) }}"
                                           class="wmw-tinylink">{{ 'dashboard.advisor.wip.showmore' | trans | upper }}
                                        </a>
                                    </div>

                                    {% if wip.status == constant('MATCHED', wip) or wip.status == constant('INTERESTED', wip) %}
                                        <a href="{{ path('mission_view', {'missionId': wip.mission.id}) }}" class="content-button wmw-button">
                                            <i></i><span>{{ 'dashboard.advisor.other.get_in_touch' | trans | upper }}</span><i></i>
                                        </a>
                                    {% elseif wip.status == constant('ONGOING', wip) %}
                                        <a href="{{ path('mission_view', {'missionId': wip.mission.id}) }}" class="content-button wmw-button wmw-button--red">
                                            <i></i><span>{{ 'dashboard.advisor.other.see_the_pitch' | trans | upper }}</span><i></i>
                                        </a>
                                    {% elseif wip.status == constant('SHORTLIST', wip) %}
                                        <a href="{{ path('mission_view', {'missionId': wip.mission.id}) }}" class="content-button wmw-button">
                                            <i></i><span>{{ 'dashboard.advisor.other.echange' | trans | upper }}</span><i></i>
                                        </a>
                                    {% elseif wip.status == constant('FINALIST', wip) %}
                                        <a href="{{ path('mission_view', {'missionId': wip.mission.id}) }}" class="content-button wmw-button wmw-button--green">
                                            <i></i><span>{{ 'dashboard.advisor.other.contact' | trans | upper }}</span><i></i>
                                        </a>
                                    {% endif %}

                                    <a href="{{ path('mission_giveup', {'missionId': wip.mission.id}) }}" class="content-delete wmw-tinylink">
                                        <i class="icon icon--trashbin"></i> {{ 'dashboard.advisor.wip.giveupbutton' | trans | upper }}
                                    </a>
                                </div>

                                <div class="main-missions-el-price col-xs-12 col-md-3">
                                    <span>
                                        <strong>{{ wip.mission.professionalExpertise.name | trans }}</strong>
                                        {{ wip.mission.price | currency_convert_format(wip.mission.currency.code, false, true, 'USD') }}
                                        {{ 'mission.view.price_day' | trans }}
                                        <small>{{ wip.mission.businessPractice.name | trans }}</small>
                                    </span>
                                </div>
                                <div class="main-missions-el-infos col-xs-12 col-md-3 row">
                                    <span class="infos-el col-xs-6">
                                        <span>
                                            <i class="icon icon--clock"></i><br/>
                                            {{ wip.mission.applicationEnding | time_diff }}
                                        </span>
                                    </span>
                                    <span class="infos-el infos-el--status{% if unread > 0 %} infos-el--unread{% endif %} col-xs-6">
                                        <span>

                                            {% if wip.status == constant('SCORED', wip) or wip.status == constant('MATCHED', wip) or wip.status == constant('INTERESTED', wip) %}
                                                <i class="icon icon--chair"></i><br/>
                                                <small>{{ 'dashboard.advisor.other.mission_status' | trans }}</small><br/>
                                                <span class="status">{{ 'dashboard.advisor.wip.interested' | trans }}</span>
                                            {% elseif wip.status == constant('ONGOING', wip) %}
                                                <i class="icon icon--rocket"></i><br />
                                                <small>{{ 'dashboard.advisor.other.mission_status' | trans }}</small><br />
                                                <span class="status">{{ 'dashboard.advisor.wip.waiting' | trans | upper }}</span>
                                            {% elseif wip.status == constant('SHORTLIST', wip) %}
                                                <i class="icon icon--selected"></i><br />
                                                <small>{{ 'dashboard.advisor.other.mission_status' | trans }}</small><br />
                                                <span class="status">{{ 'dashboard.advisor.wip.selected' | trans | upper }}
                                                </span>
                                            {% elseif wip.status == constant('FINALIST', wip) %}
                                                <i class="icon icon--handshake"></i><br />
                                                <small>{{ 'dashboard.advisor.other.mission_status' | trans }}</small><br />
                                                <span class="status">{{ 'dashboard.advisor.wip.selected' | trans | upper }}</span>
                                            {% endif %}
                                            {% if unread > 0 %}
                                                <a href="{{ path('mission_view', { 'missionId' : wip.mission.id }) }}">{{ 'dashboard.unread' | trans({'unread': unread}) }}</a>
                                            {% endif %}
                                        </span>
                                    </span>
                                    <span class="infos-el col-xs-6">
                                        <span>
                                            <i class="icon icon--calendar"></i><br/>
                                            {{ wip.mission.missionBeginning | date('M d Y') }}<br/>
                                            {{ wip.mission.missionEnding | date('M d Y') }}
                                        </span>
                                    </span>
                                    <span class="infos-el col-xs-6">
                                        <span>
                                            <i class="icon icon--pointer"></i><br/>
                                            {{ wip.mission.address.city }}<br/>
                                            {{ wip.mission.address.country }}
                                        </span>
                                    </span>

                                </div>
                            </div>
                    {% endfor %}

                    {# ko mission #}

                    {% if closes is not empty %}<h2 class="main-title" style="padding-top:1%"><i class="icon icon--flag"></i>{{ 'dashboard.advisor.close.title' | trans }}{% endif %}</h2>
                    {% for close in closes %}
                        <div class="main-missions-el main-missions-el--closed row">
                            <div class="main-missions-el-content col-xs-12 col-md-10">
                                <div class="content-title">
                                    {{ close.mission.title | trans }}
                                </div>
                                <div class="content-links">
                                    <a href="{{ path('mission_view', {'missionId': close.mission.id}) }}" class="content-showmore wmw-tinylink">
                                        <i class="icon icon--eye"></i> {{ 'dashboard.advisor.close.show_more' | trans }}
                                    </a>
                                    <a href="#" class="content-delete wmw-tinylink">
                                        <i class="icon icon--trashbin"></i> {{ 'dashboard.advisor.close.delete' | trans }}
                                    </a>
                                </div>
                            </div>
                            <div class="main-missions-el-infos col-xs-12 col-md-2">
                                <span class="infos-el infos-el--status">
                                    <span>
                                        <small>
                                            {{ 'dashboard.advisor.other.mission_status' | trans }}
                                        </small><br/>
                                        <span class="status">
                                            {{ 'dashboard.advisor.close.close' | trans }}
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>

        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function switchNotification() {
            $.ajax({
                url: "{{ path('user_switch_notification') }}",
                method: "put"
            });
        }
    </script>
{% endblock %}
