{% extends "base.html.twig" %}
{% trans_default_domain "DashboardBundle" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block subtitle %}
    {{ 'dashboard.expert.hello'|trans }}
{% endblock %}
{% block body %}
    <p>
        Missions :
        {% for mission in missions %}
            <li>
                <a href="{{ path('mission_view', {'missionId': mission.id}) }}">{{ mission.title }}</a>
                --->
                <a href="{{ path('mission_pitch', {'missionId': mission.id}) }}">pitch</a>
            </li>
        {% endfor %}
    </p>
{% endblock %}
