<!doctype html>
<html lang="fr">
<head>

    <meta http-equiv="Content-Type" charset="utf-8">
    <title>{% block title %}Want More Work{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('fav/apple-touch-icon.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('fav/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ asset('fav/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('fav/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ asset('fav/android-chrome-512x512.png') }}" sizes="512x512">
    <link rel="icon" type="image/png" href="{{ asset('fav/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="manifest" href="{{ asset('fav/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('fav/safari-pinned-tab.svg') }}" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('fav/mstile-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/print.css') }}" media="print"/>
    {% endblock %}
    <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>

</head>
<body>
<div class="wmw-wrapper">
    {% block header %}
        <header class="wmw-header row wmw-header--ob">
            <a href="{{ path('home_page_advisor') }}" class="wmw-header-logo">
                <img src="{{ asset('images/header-logo.png') }}" alt="WMW"/>
            </a>
        </header>
    {% endblock %}

    {% block body %}
        <main class="wmw-main row">
            <div class="wmw-onboard col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
                <div class="wmw-onboard-body">
                    <h1>{{ status_code }} - {{ status_text }}</h1>
                    <p>
                    <h3>
                        The requested page couldn't be located. Checkout for any URL
                        misspelling or

                        <a href="{{ url('home_page_advisor') }}">return to the homepage.</a>
                    </h3>
                </div>
            </div>
        </main>
    {% endblock %}

    {% block footer %}
        <footer class="wmw-footer row">
            <a href="#" class="wmw-footer-logo"><img src="{{ asset('images/footer-logo.png') }}" alt="WMW"/></a>
            <nav class="wmw-footer-nav">
                <a href="#">Mission</a>
                <a href="#">About</a>
                <a href="#">Contractor</a>
                <a href="#">User agreement</a>
                <a href="#">Legal Notice</a>
            </nav>
            <div class="wmw-footer-social">
                <a href="#"><i class="icon icon--facebook"></i></a>
                <a href="#"><i class="icon icon--twitter"></i></a>
                <a href="#"><i class="icon icon--linkedin"></i></a>
            </div>
        </footer>
    {% endblock %}
</div>
</body>
</html>
