{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ path('setlocale', {'language': 'fr'}) }}">FR</a>
            <a href="{{ path('setlocale', {'language': 'en'}) }}">EN</a>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% else %}
            <div>
                <a href="{{ path('fos_user_registration_register_seeker') }}">{{ 'layout.sign_up'|trans }}</a>
                <a href="{{ path('home_page_expert') }}">{{ 'layout.expert_access'|trans }}</a>
            </div>
            <div>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'linkedin' }) }}">{{ 'social.sign_in_linkedin'|trans }}</a> <br />
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">{{ 'social.sign_in_google'|trans }}</a> <br />
            </div>
        {% endif %}

        </div>
    </div>
{% endblock %}
