{% trans_default_domain 'tools' %}
{% block footer %}
    {% if footer is not defined %}
    <footer class="wmw-footer row">
        <a href="#" class="wmw-footer-logo"><img src="{{ asset('images/footer-logo.png') }}" alt="WMW"/></a>
        <nav class="wmw-footer-nav">
            {#<a href="{{ news_url }}archives">#}
            <a href="{{ path('newsletter_list') }}">
                {{ 'footer.new' | trans }}
            </a>
            <a href="{{ path('home_page_about') }}">
                {{ 'footer.about' | trans }}
            </a>
            <a href="{{ path('home_page_help') }}">
                {{ 'footer.help' | trans }}
            </a>
            <a href="mailto:{{ email_contact }}">
                {{ 'footer.contact_us' | trans }}
            </a>
            <a href="{{ path('home_page_terms') }}">
                {{ 'footer.legal' | trans }}
            </a>
            <a href="mailto:{{ email_press }}">
                {{ 'footer.press' | trans }}
            </a>
        </nav>
        <div class="wmw-footer-social">
            <a href="{{ facebook_link }}" target="_blank">
                <i class="icon icon--facebook"></i></a>
            <a href="{{ twitter_link }}" target="_blank">
                <i class="icon icon--twitter"></i></a>
            <a href="{{ linkedin_link }}" target="_blank">
                <i class="icon icon--linkedin"></i></a>
        </div>
    </footer>

    {% endif %}
{% endblock %}
