{% extends '::base.html.twig' %}

{% block body %}

    <body class="page-new text-page newsletter-page">
    <section class="section section-top">

        {% include '@HomePage/header_second.html.twig' %}

        <div class="container text-center">
            <div class="wrap-container-content">
                <div class="container-content">

                    <!--[if lt IE 8]>
                    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
                        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                    <![endif]-->

                    <div class="row-no-margins">

                        <div class="col-1-of-4 col-newsletter-left">
                            <div class="wrap-newsletter-left-title">
                                <h1 class="newsletter-left-title">
                                    {{ 'newsletter.view.newsletter.what'|trans({}, "tools") }}
                                </h1>
                            </div>
                            {% for oneNewsletter in newsletters %}
                                <div class="newsletter-left">
                                    <h4>
                                        {{ oneNewsletter.publishedDate|date('m/d/Y') }}
                                    </h4>
                                    <h2>
                                        {{ loop.index }}. {{ oneNewsletter.preTitle }}
                                    </h2>
                                    {% set article = oneNewsletter.articles | first %}
                                    <a href="{{ path('newsletter_show', {'id': oneNewsletter.number}) }}" class="wrap-preview-newsletter">
                                        <img src={{ article.urlCover }} alt={{ oneNewsletter.title }} class="newsletter-left-img">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-3-of-4 col-newsletter-right">
                            <a href="#" class="wrap-preview-newsletter" id="newsletter-1"><!-- Official logo -->
                                <img src="{{ asset('images/preview-newsletter1.png') }}" onError="this.style.display='none';"
                                     alt="preview newsletter" class="preview-newsletter"/>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
    </body>
{% endblock %}
