{% extends '::base.html.twig' %}

{% block body %}

    <h4> {{ 'newsletter.view.newsletter.what'|trans({}, "tools") }} </h4>

    {% for oneNewsletter in newsletters  %}
        <a href="{{ path('newsletter_show', {'id': oneNewsletter.number}) }}">
            <img src={{ oneNewsletter.urlCover }} alt={{ oneNewsletter.title }} style="width:10;height:10;">
        </a>
        <br>{{ oneNewsletter.publishedDate|date('m/d/Y') }}
        <br>{{ oneNewsletter.preTitle }}<br>
    {% endfor %}

{% endblock %}
