{% extends '::base.html.twig' %}
{% trans_default_domain "tools" %}
{% block body %}

    <body class="page-new text-page newsletter-page">
    <section class="section section-top">

        <header>
            <div class="container header-content" id="header-c"><!-- header content -->
                <!-- Navbar -->
                <nav class="navbar">
                    <div class="navigation" id="navigation">
                        <div class="col-1-of-3 wrap-navbar-left">
                        </div>

                        <div class="col-1-of-3 wrap-navbar-mid">
                            <div class="wrap-links">
                                <a href="{{ path('home_page_advisor') }}" class="wmw-header-logo">
                                    <img src="{{ asset('images/header-logo.png') }}" alt="WMW"/>
                                </a>
                            </div>
                        </div>

                        <div class="col-1-of-3 wrap-navbar-right">
                            <header class="wmw-header row wmw-header--ob wmw-header--newsletter">

                                <div class="wmw-header-profile">
                                    {% if user is defined and user is not null %}
                                        {% if user.images is not empty %}
                                            {% set image = user.images|last %}
                                            {% if image.name is not null %}
                                                <span class="wmw-header-profile-picture">
                                                    <img src="{{ asset(image.webPath()) }}"/>
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            <span class="wmw-header-profile-picture">
                                                <img src="{{ asset('images/' ~ random(['placeholder-pp-0.png', 'placeholder-pp-1.png', 'placeholder-pp-2.png', 'placeholder-pp-3.png'])) }}"/>
                                            </span>
                                        {% endif %}
                                    {% endif %}

                                    <div class="wmw-header-profile-button">
                                        <button type="button" class="wmw-button wmw-button--border" id="hide_logout">
                                            <i></i><span>
                                                {% if user is not defined or user is null %}
                                                    <span class="name">WantMoreWork</span>
                                                {% elseif (user.firstName ~ user.LastName) | length < 20 %}
                                                    <span class="name">{{ user.firstName }} {{ user.lastName }}</span>
                                                {% else %}
                                                    <span class="name">{{ (user.firstName) | truncate(1, false, '.') }} {{ user.lastName | truncate(18, false, '') }}</span>
                                                {% endif %}
                                                <i class="icon icon--arrow"></i>
                                                <i class="icon icon--avatar"></i>
                                            </span><i></i>
                                        </button>

                                        <div class="wmw-header-profile-menu">
                                            {% if user is not defined or user is null %}
                                                <a href="{{ path('fos_user_security_login') }}">{{ 'header.login' | trans() }}</a>
                                                <a href="{{ path('home_page_advisor') }}">{{ 'header.register' | trans }}</a>
                                            {% else %}
                                                <a href="{{ path('user_profile_show') }}">{{ 'header.profile' | trans }}</a>
                                                <a href="{{ path('fos_user_security_logout') }}">{{ 'header.logout' | trans }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% include 'local.html.twig' %}
                                </div>

                            </header>
                        </div>

                    </div>
                </nav><!-- End Navbar -->
            </div>
        </header>

        <div class="container text-center">
            <div class="wrap-container-content">
                <div class="container-content">

                    <!--[if lt IE 8]>
                    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
                        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                    <![endif]-->

                    <div class="row-no-margins" style="overflow: hidden">

                        <div class="col-1-of-4 col-newsletter-left">
                            <div class="wrap-newsletter-left-title">
                                <h1 class="newsletter-left-title">
                                    <a type="button" id="subscribe"
                                       class="wmw-button wmw-button--medium wmw-button--green">
                                        <i></i><span> {{ 'newsletter.subscribe' | trans }} </span><i></i>
                                    </a>
                                </h1>
                            </div>
                            {% for oneNewsletter in newsletters %}
                                <div class="newsletter-left" onclick="actuNews('{{ oneNewsletter.number }}')">
                                    <h4>
                                        {{ oneNewsletter.publishedDate|date('m/d/Y') }}
                                    </h4>
                                    <h2 >
                                        {{ oneNewsletter.number }}. {{ oneNewsletter.preTitle }}
                                    </h2>
                                    {% set article = oneNewsletter.articles | first %}
                                    <a class="wrap-preview-newsletter">
                                        <img src={{ oneNewsletter.urlCover }} alt={{ oneNewsletter.title }}
                                             class="newsletter-left-img">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-3-of-4 col-newsletter-right">
                            <a href="#" class="wrap-preview-newsletter" id="preview-newsletter">
                                <iframe id="preview-newsletter" src="/newsletters/1/index.html"
                                        class="preview-newsletter">
                                </iframe>
                            </a>
                        </div>



                    </div>

                </div>
            </div>
        </div>

    </section>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        function actuNews(idNews) {
//            could go get them on consultant in fact :(
            $("iframe.preview-newsletter").attr('src', "/newsletters/" + idNews + "/index.html");
        }

        $(button="#subscribe").click(function() {
            swal({
                html: "<iframe style=\"display: block; margin-left: auto; margin-right: auto; background-color: white;\"src=\"https://my.sendinblue.com/users/subscribe/js_id/2h6et/id/1\" width=\"500\" height=\"191\" frameborder=\"0\"scrolling=\"auto\"allowfullscreen=\"allowfullscreen\"></iframe>"
            });
        });

    </script>

{% endblock %}