<!DOCTYPE html>
<html>
    <form name="join" action="{{ path('company_join') }}" method="post">

        <link rel="stylesheet" href="{{ asset('css/chosen.css') }}">
      
        <body>

            <div id="container">
                <div id="content">

                    <h2>
                        <a name="standard-select" class="anchor" href="#standard-select">Join a company</a>
                    </h2>
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name) }}

                        {{ form_widget(form.name) }}
                    </div>
                    {{ form_row(form.save, { 'label': 'Join' }) }}
                    {{ form_end(form) }}
                </div>

            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
            <script src="{{ asset('js/chosen.jquery.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/prism.js') }}" type="text/javascript" charset="utf-8"></script>
            <script src="{{ asset('js/chosen_config.js') }}" type="text/javascript" charset="utf-8"></script>

        </form>
    </body>
</html>
