{% trans_default_domain "CompanyBundle" %}

<!DOCTYPE html>
<html>
<body>
    <form method="post" {{ form_enctype(form) }}>
        {{ form_start(form) }}
    
        <p>
            {{ 'company.action.wannaLeav'|trans }} {{ app.user.company.name }} {{ 'company.name'|trans }} ?
        </p>
        {{ form_row(form.save, { 'label': 'Yes' }) }}
        {{ form_end(form) }}
    </form>
    </body>
</html>
