{% extends 'base.html.twig' %}
{% trans_default_domain 'tools' %}

{% block body %}

    <body class="page-new about-us">
    <section class="section section-top">

        {% include "@HomePage/header_second.html.twig" %}

        <div class="container text-center">
            <div class="container-content">
                <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
                    <a href="http://browseh appy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->

                <div class="wrap-logo">
                    <a href="#" class="wrap-logo"><!-- Official logo -->
                        <img src="{{ asset('images/logo.png') }}" onError="this.style.display='none';" alt="logo"/>
                    </a>
                </div>

                <h1 class="top-title">{{ 'about.title' | trans }}</h1>
                <div class="row-no-margins text-center">
                    <a class="scroll-bottom" onclick="smoothScroll()">
                        <i class="fa fa-chevron-down"></i>
                        {# chevron isn't working #}
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="section section-mid">
        <div class="container content content-top">
            <div class="container-content">
                <div class="row-no-margins row-s text-center">
                    <h2 class="description" id="about">
                        {{ 'about.content' | trans | raw }}
                    </h2>
                </div>
            </div>
        </div>
        <div class="container content">
            <div class="container-content" id="the_team">
                <h1 class="mid-title">{{ 'about.team' | trans }}</h1>
                <div class="row-no-margins row-s text-center">

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/David.jpg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>David Melki <br>Co-Founder - CEO</h4>
                            <a href="mailto:david@wamow.co" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/dmelki/" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Arnaud.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Arnaud Franquinet Co-Founder - Business Development</h4>
                            <a href="mailto:arnaud@wamow.co" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/arnaud-franquinet-1b205b9/" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Esther.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Esther Zerdoun - Co-Founder -  Evaluation Methodologies</h4>
                            <a href="mailto:esther@wamow.co" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/esther-zerdoun-171853/" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Ana.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Ana Stanescu - Coordination and Development Manager</h4>
                            <a href="mailto:ana@wamow.co" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/ana-maria-stanescu-782438140/" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>                        </div>
                    </div>

                </div>

                <div class="row-no-margins row-s text-center">

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Master.JPG') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Quentin Burgess - <br>Developer</h4>
                            <a href="mailto:dev@wamow.co" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/quentin-burgess-06b2b4b8/" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Root.JPG') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Kevine Zerbib - <br>IT & Cybersecurity Advisor</h4>
                            <a href="mailto:kevine@wamow.co" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/kevine-zerbib-1277b51/" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Julien.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Julien Muresianu - <br>AI Advisor</h4>
                            <a href="mailto:julien@wamow.co" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                            <a href=" https://www.linkedin.com/in/julienmu/?ppe=1" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Alexandre.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Alexandre Mandryka - Gamification Advisor</h4>
                            <a href="mailto:alexandre@wamow.co" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                            <a href=" https://www.linkedin.com/in/alexandremandryka/" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row-no-margins row-s text-center">

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Harold.jpg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Harold Lafond- <br> General Counsel</h4>
                            <a href="mailto:harold@wamow.co" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/harold-lafond-227893/" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>
    </body>

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">

        function smoothScroll() {
            $('html, body').animate({
                scrollTop: $("#the_team").offset().top
            }, 1500);
        }

    </script>
{% endblock %}