{% extends 'base.html.twig' %}
{% trans_default_domain 'tools' %}

{% block body %}

    <body class="page-new about-us">
    <section class="section section-top">

        {% include "@HomePage/header_second.html.twig" %}

        <div class="container text-center">
            <div class="container-content">
                <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
                    <a href="http://browseh appy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->

                <div class="wrap-logo">
                    <a href="#" class="wrap-logo"><!-- Official logo -->
                        <img src="{{ asset('images/logo.png') }}" onError="this.style.display='none';" alt="logo"/>
                    </a>
                </div>

                <h1 class="top-title">{{ 'about.title' | trans }}</h1>
                <div class="row-no-margins text-center">
                    <a href="#about" class="scroll-bottom">
                        <i class="fa fa-chevron-down"></i>
                        {# chevron isn't working #}
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="section section-mid">
        <div class="container content content-top">
            <div class="container-content">
                <div class="row-no-margins row-s text-center">
                    <h2 class="description" id="about">
                        {{ 'about.content' | trans | raw }}
                    </h2>
                </div>
            </div>
        </div>
        <div class="container content">
            <div class="container-content">
                <h1 class="mid-title">{{ 'about.team' | trans }}</h1>
                <div class="row-no-margins row-s text-center">
                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/member1.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <a href="linkedin.com" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="mailto:contact@wm.work" target="_top" class="social-media">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/member2.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <a href="linkedin.com" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="mailto:contact@wm.work" target="_top" class="social-media">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/member3.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <a href="linkedin.com" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="mailto:contact@wm.work" target="_top" class="social-media">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/member4.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <a href="linkedin.com" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="mailto:contact@wm.work" target="_top" class="social-media">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row-no-margins row-s text-center">
                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/member5.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <a href="linkedin.com" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="mailto:contact@wm.work" target="_top" class="social-media">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/member2.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <a href="linkedin.com" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="mailto:contact@wm.work" target="_top" class="social-media">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/member3.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <a href="linkedin.com" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="mailto:contact@wm.work" target="_top" class="social-media">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/member4.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <a href="linkedin.com" class="social-media">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="mailto:contact@wm.work" target="_top" class="social-media">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row-no-margins row-s text-center">
                    {#stuffs#}
                </div>
            </div>
        </div>

    </section>
    </body>

{% endblock %}
