{% extends 'base.html.twig' %}
{% trans_default_domain 'tools' %}

{% block body %}

    <body class="page-new about-us">
    <section class="section section-top">

        {% include "@HomePage/header_second.html.twig" %}

        <div class="container text-center">
            <div class="container-content">
                <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
                    <a href="http://browseh appy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->

                <div class="wrap-logo">
                    <a href="#" class="wrap-logo"><!-- Official logo -->
                        <img src="{{ asset('images/logo.png') }}" onError="this.style.display='none';" alt="logo"/>
                    </a>
                </div>

                <h1 class="top-title">{{ 'about.title' | trans }}</h1>
                <div class="row-no-margins text-center">
                    <a class="scroll-bottom" onclick="smoothScroll()">
                        <i class="fa fa-chevron-down"></i>
                        {# chevron isn't working #}
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="section section-mid">
        <div class="container content content-top">
            <div class="container-content">
                <div class="row-no-margins row-s text-center">
                    <h2 class="description" id="about">
                        {{ 'about.content' | trans | raw }}
                    </h2>
                </div>
            </div>
        </div>
        <div class="container content">
            <div class="container-content" id="the_team">
                <h1 class="mid-title">{{ 'about.team' | trans }}</h1>
                <div class="row-no-margins row-s text-center">

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/David.jpg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>David Melki <br>Co-Founder - CEO</h4>
                            {#<a href="linkedin.com" class="social-media">#}
                                {#<i class="fa fa-linkedin" aria-hidden="true"></i>#}
                            {#</a>#}
                            <a href="mailto:david@wantmore.work" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Arnaud.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Arnaud Franquinet Co-Founder - Business Development</h4>
                            {#<a href="linkedin.com" class="social-media">#}
                                {#<i class="fa fa-linkedin" aria-hidden="true"></i>#}
                            {#</a>#}
                            <a href="mailto:arnaud@wantmore.work" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Esther.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Esther Zerdoun - Co-Founder -  Evaluation Methodologies</h4>
                            {#<a href="linkedin.com" class="social-media">#}
                                {#<i class="fa fa-linkedin" aria-hidden="true"></i>#}
                            {#</a>#}
                            <a href="mailto:esther@wantmore.work" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Ana.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Ana Stanescu - Coordination and Development Manager</h4>
                            {#<a href="linkedin.com" class="social-media">#}
                                {#<i class="fa fa-linkedin" aria-hidden="true"></i>#}
                            {#</a>#}
                            <a href="mailto:ana@wantmore.work" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row-no-margins row-s text-center">

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Master.JPG') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Quentin Burgess - Developer</h4>
                            {#<a href="linkedin.com" class="social-media">#}
                                {#<i class="fa fa-linkedin" aria-hidden="true"></i>#}
                            {#</a>#}
                            <a href="mailto:dev@wantmore.work" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Alexandre.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Alexandre Mandryka - Gamification Advisor</h4>
                            {#<a href="linkedin.com" class="social-media">#}
                                {#<i class="fa fa-linkedin" aria-hidden="true"></i>#}
                            {#</a>#}
                            <a href="mailto:alexandre@wantmore.work" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-3-of-12 wrap-member">
                        <img src="{{ asset('images/Julien.jpeg') }}" alt=""/>
                        <div class="about-social-media">
                            <h4>Julien Muresianu - AI Advisor</h4>
                            {#<a href="linkedin.com" class="social-media">#}
                                {#<i class="fa fa-linkedin" aria-hidden="true"></i>#}
                            {#</a>#}
                            <a href="mailto:julien@wantmore.work" target="_top" class="social-media">
                                <i class="icon icon--email" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row-no-margins row-s text-center">
                    {#stuffs#}
                </div>

            </div>
        </div>

    </section>
    </body>

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">

        function smoothScroll() {
            $('html, body').animate({
                scrollTop: $("#the_team").offset().top
            }, 1500);
        }

    </script>
{% endblock %}