{% trans_default_domain 'tools' %}

<header>
    <div class="container header-content" id="header-c"><!-- header content -->
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navigation" id="navigation">
                <div class="col-1-of-3 wrap-navbar-left">
                    <a href="{{ path('home_page_contractor') }}">
                        <button type="button" class="wmw-button wmw-button--medium wmw-button--green">
                            <i></i><span> {{ 'home.advisor.contractorlink' | trans | upper }} </span><i></i>
                        </button>
                    </a>
                </div>

                <div class="col-1-of-3 wrap-navbar-mid">
                    <div class="wrap-links">

                        <a href="{{ path('home_page_advisor') }}" class="wmw-header-logo">
                            <img src="{{ asset('images/header-logo.png') }}" alt="WMW"/>
                        </a>

                    </div>
                </div>

                <div class="col-1-of-3 wrap-navbar-right">

                    <a href="{{ path('fos_user_security_login') }}"
                       class="button btn btn-right">{{ 'home.advisor.login' | trans }}</a>
                    <a href="{{ path('fos_user_registration_register_expert') }}"
                       class="button btn btn-right btn-ghost">{{ 'home.advisor.signup' | trans }}</a>

                </div>
            </div>
        </nav><!-- End Navbar -->
    </div>
</header>
