{% extends '::base.html.twig' %}
{% trans_default_domain "tools" %}

{# set up var #}
{% set user = user_mission.user %}
{% set mission = user_mission.mission %}
{% set thread = user_mission.thread %}
{% set steps = mission.steps %}
{% set step = '' %}
{% for oneStep in steps and step == '' %}
    {% if oneStep.status == 1 %}
        {% set step = oneStep %}
    {% endif %}
{% endfor %}

{% block body %}

    {# set up header #}
    <div class="header">
        <div class="status">
            RocketIcon<br>
            {{ 'mission.view.advisor.intrested' | trans }} <br>
        </div>
        <div class="finance">
            {{ 'mission.view.advisor.finance' | trans({ '%price': mission.price * 1000, '%professionalExpertise': mission.professionalExpertise.name | trans }, 'tools') | nl2br }}
        </div>
        <div class="day_left">
            ClockIcon<br>
            {{ mission.applicationEnding | time_diff }}
        </div>
        <div class="calendar">
            CalendarIcon<br>
            {{ mission.missionBeginning | date("M d") }}<br>
            {{ mission.missionEnding | date("M d") }}
        </div>
        <div class="address">
            PinPointIcon<br>
            {% if mission.address %}
                {% if mission.address.city %}
                    {{ mission.address.city }}<br>
                {% endif %}
                {{ mission.address.country | countryName }}
            {% endif %}
        </div>
        <div class="lang">
            BubleIcon<br>
            {% for lang in mission.languages %}
                {{ lang.name | trans }}
                {% if not loop.last %}
                    ,
                {% endif %}
            {% endfor %}
        </div>
        <div class="on_site">
            EarthIcon<br>
            {% if mission.telecommuting %}
                {{ 'mission.view.advisor.on_site' | trans }}
            {% else %}
                {{ 'mission.view.advisor.not_on_site' | trans }}
            {% endif %}
        </div>
        <p>
        <div class="btn_back">
            CrossIcon<br>
            <a href="{{ path('dashboard') }}">{{ 'mission.view.advisor.btn_back_to_board' | trans | upper }}</a>
        </div>
    </div>

    {# set up left and right content #}
    <div class="content">

        {# set up left content #}
        <div class="meta_data">
            Pitched at {{ mission.updateDate | date('d/m/Y') }} <br>
            <h4>{{ mission.title }}</h4> <br>
            CertificationIcon Certification:
            {% for certif in mission.certifications %}
            {{ certif.name }}
            {% if not loop.last %}
                ,
            {% endif %}
            {% endfor %}<br>
            TypeMissionIcon
            {% for kind in mission.missionKinds %}
            {{ kind.name | trans }}
            {% if not loop.last %}
                ,
            {% endif %}
            {% endfor %}<br>
        </div>
        <div class="resume">
            {% if not user.payment %}
                {{ mission.resume | truncate(100, false, '[...]' | nl2br) }}
            {% else %}
                {{ mission.resume | nl2br }}
            {% endif %}
        </div>

        {# set up right content #}
        <div class="chat_box"><p>
                {% if user.payment %}
                    {{ form_start(form) }}
                    {{ form_errors(form.text) }}
                    {{ form_widget(form.text) }}
                    {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                {% else %}
                    <a href="{{ path('user_profile_edit') }}">Subscribe There Please</a>
                {% endif %}
        </div>
    </div>
{% endblock %}