{% extends 'base.html.twig' %}
{% trans_default_domain 'tools' %}

{% block body %}

    {% set route = app.request.attributes.get('_route') %}
    {% set route_params = app.request.attributes.get('_route_params') %}
    {% set params = route_params|merge(app.request.query.all) %}

    <body class="page-new homepage">

    <section class="section section-top">


        <header>
            <div class="container header-content" id="header-c"><!-- header content -->
                <!-- Navbar -->
                <nav class="navbar">
                    <div class="navigation" id="navigation">
                        <div class="col-1-of-3 wrap-navbar-left">
                            <a href="{{ path('home_page_contractor') }}">
                                <button type="button" class="wmw-button wmw-button--medium wmw-button--green">
                                    <i></i><span> {{ 'home.advisor.contractorlink' | trans | upper }} </span><i></i>
                                </button>
                            </a>
                        </div>

                        <div class="col-1-of-3 wrap-navbar-mid">
                            <div class="wrap-links">

                                <div class="wrap-link">
                                    <a href="{{ path(route, params|merge({ _locale: 'en' })) }}">EN</a>
                                    <span>/</span>
                                    <a href="{{ path(route, params|merge({ _locale: 'fr' })) }}">FR</a>
                                </div>
                                <div class="wrap-link">
                                    <a href="{{ path('newsletter_list') }}">{{ 'header.news' | trans | upper }}</a>
                                    <span>/</span>
                                </div>

                            </div>
                        </div>

                        <div class="col-1-of-3 wrap-navbar-right">

                            <a href="{{ path('fos_user_registration_register_expert') }}"
                               class="button btn btn-right btn-ghost">{{ 'home.advisor.signup' | trans }}</a>
                            <a href="{{ path('fos_user_security_login') }}"
                               class="button btn btn-right">{{ 'home.advisor.login' | trans }}</a>

                        </div>
                    </div>
                </nav><!-- End Navbar -->
            </div>
        </header>

        <div class="container text-center">
            <div class="container-content">
                <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
                    <a href="http://browseh appy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->

                <div class="wrap-logo">
                    <a href="#" class="wrap-logo"><!-- Official logo -->
                        <img src="{{ asset('images/logo.png') }}" onError="this.style.display='none';" alt="logo"/>
                    </a>
                </div>

                <h1 class="top-title">{{ 'home.advisor.title' | trans }}</h1>
                <h2 class="top-subtitle">
                    {{ 'home.advisor.valueproposition.first' | trans | upper }}<br>
                    {{ 'home.advisor.valueproposition.second' | trans | upper }}
                </h2>
                <div class="row-no-margins text-center">
                    <div class="wrap-btn">
                        <!--<a class="button btn btn-big">I WANT MORE WORK</a>-->
                        <a href="{{ path('fos_user_registration_register_expert') }}" class="button btn btn-big">
                            {{ 'home.advisor.signup' | trans | upper }}
                        </a>
                    </div>
                </div>
                <div class="row-no-margins text-center">
                    <a href="#footer" class="scroll-bottom">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="wrap-parteners">
                    <a href="#" class="wrap-img-parteners"><!-- Official logo -->
                        <img src="{{ asset('/images/logos-clients.png') }}" onError="this.style.display='none';"
                             alt="logo"/>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="section section-mid">
        <div class="container content">
            <div class="container-content">
                <h1 class="mid-title">{{ 'home.advisor.howdoesitwork' | trans }}</h1>
                <div class="row-no-margins row-s text-center">
                    <div class="wrap-icon-s">
                        <img src="{{ asset('images/icon1.png') }}" alt="start"/>
                        <span>start /</span>
                    </div>
                    <div class="wrap-text-s">
                        <div class="text-s">
                            {{ 'home.advisor.start.text' | trans }}<br>
                        </div>
                    </div>
                </div>
                <div class="row-no-margins row-s text-center">
                    <div class="wrap-icon-s">
                        <img src="{{ asset('images/icon2.png') }}" alt="start"/>
                        <span>play /</span>
                    </div>
                    <div class="wrap-text-s">
                        <div class="text-s">
                            {{ 'home.advisor.play.text' | trans }}<br>
                        </div>
                    </div>
                </div>
                <div class="row-no-margins row-s text-center">
                    <div class="wrap-icon-s">
                        <img src="{{ asset('images/icon3.png') }}" alt="start"/>
                        <span>improve /</span>
                    </div>
                    <div class="wrap-text-s">
                        <div class="text-s">
                            {{ 'home.advisor.improve.text' | trans }}<br>
                        </div>
                    </div>
                </div>
                <div class="row-no-margins row-s text-center">
                    <div class="wrap-icon-s">
                        <img src="{{ asset('images/icon4.png') }}" alt="start"/>
                        <span>pay /</span>
                    </div>
                    <div class="wrap-text-s">
                        <div class="text-s">
                            {{ 'home.advisor.pay.text' | trans }}<br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-no-margins text-center">
                <div class="wrap-btn">
                    <a href="{{ path('fos_user_registration_register_expert') }}" class="button btn btn-big">
                        {{ 'home.advisor.signup'  | trans }}
                    </a>
                </div>
            </div>
            <div class="row-no-margins text-center">
                <a href="{{ path('home_page_contractor') }}" class="bottom-link">
                    {{ 'home.advisor.company_link' | trans | upper }}
                </a>
            </div>
        </div>
    </section>
    </body>

{% endblock %}
