{% extends '::base.html.twig' %}
{% trans_default_domain "tools" %}

{% block body %}

    <div class="wmw-mission col-xs-10 col-xs-offset-1">

        <a href="{{ path('dashboard') }}" class="wmw-mission-close"><i class="icon icon--cross"></i>{{ 'mission.view.advisor.btn_back_to_board' | trans | upper }}</a>

        <div class="wmw-mission-breadcrumbs">
            <span class="breadcrumbs-el active">1. {{ 'mission.view.contractor.status_advisor' | trans | upper }}</span>
            <span class="breadcrumbs-el">2. {{ 'mission.view.contractor.status_shortlist' | trans | upper }}
                {% if selected > 0 %}
                    <a href="{{ path('mission_shortlist', { 'missionId' : mission.id }) }}">
                        <button class="wmw-button wmw-button--black wmw-button--border wmw-button--small">
                            <i></i><span>
                                {{ 'mission.view.contractor.btn_proced_to_shortlist' | trans | upper }}
                            </span><i></i>
                        </button>
                    </a>
                {% endif %}
            </span>
            <span class="breadcrumbs-el">3. {{ 'mission.view.contractor.status_finalit' | trans | upper }}</span>
        </div>

        <div class="wmw-mission-header row">
            <h1 class="col-xs-12 col-lg-5">
                {{ mission.title }}
                <small><i class="icon icon--certification"></i>
                    {{ 'mission.view.certifications' | trans | humanize }} :
                    {% if mission.certifications.count() > 0 %}
                        {% for certif in mission.certifications %}
                            {{ certif.name }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ 'mission.view.no_certification' | trans }}
                    {% endif %}
                </small>
            </h1>

            <div class="wmw-mission-summarybtn col-xs-12">
                <a href="#" class="wmw-button wmw-button--small">
                    <i></i>
                    <span class='off'>
                        {{ 'mission.view.more_info' | trans }}
                    </span>
                    <span class='on'>
                        {{ 'mission.view.less_info' | trans }}
                    </span>
                    <i></i>
                </a>
            </div>

            <div class="wmw-mission-summary col-xs-12 col-lg-7 row">
                <span class="summary-el">
                    <span>
                        <i class="icon icon--avatar"></i><br />
                        {{ interested }} {{ 'dashboard.contractor.mission.interested' | trans }}
                    </span>
                </span>
                <span class="summary-el summary-el--shortlist">
                    <span>
                        <i class="icon icon--star"></i><br />
                        <span class="number">{{ shortlisted }}</span>/3 {{ 'dashboard.contractor.mission.selected' | trans }}
                    </span>
                </span>
                <span class="summary-el summary-el--salary">
                    <span>
                        {{ 'mission.view.contractor.finance' | trans({ '%price': (mission.price * 1000), '%professionalExpertise': mission.professionalExpertise.name | trans }, 'tools') | raw }}
                        {% for kind in mission.missionKinds %}
                            {{ kind.name | trans }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </span>
                </span>
                <span class="summary-el">
                    <span>
                        <i class="icon icon--calendar"></i><br />
                        {{ mission.applicationEnding | time_diff }}
                    </span>
                </span>
                <span class="summary-el">
                    <span>
                        <i class="icon icon--pointer"></i><br />
                        {% if mission.address %}
                            {% if mission.address.city %}
                                {{ mission.address.city }}<br>
                            {% endif %}
                            {{ mission.address.country | countryName }}
                        {% endif %}
                    </span>
                </span>
                <span class="summary-el">
                    <span>
                        <i class="icon icon--language"></i><br />
                        {% for lang in mission.languages %}
                            {{ lang.name | trans }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </span>
                </span>
                {#<span class="summary-el">#}
                    {#<span>#}
                        {#<i class="icon icon--world"></i><br />#}
                        {#{% if mission.telecommuting %}#}
                            {#{{ 'mission.view.advisor.on_site' | trans }}#}
                        {#{% else %}#}
                            {#{{ 'mission.view.advisor.not_on_site' | trans }}#}
                        {#{% endif %}#}
                    {#</span>#}
                {#</span>#}
                {#<span class="summary-el">#}
                    {#<span>#}
                        {#<i class="icon icon--clock"></i><br />#}
                        {#from {{ mission.missionBeginning | date('m/d/Y') }} to {{ mission.missionEnding | date('m/d/Y') }}#}
                    {#</span>#}
                {#</span>#}
                <span class="summary-el summary-el--answer">
                    <span>
                        <i class="icon icon--pen"></i><br />
                        {{ 'mission.view.to_answer' | trans }}
                    </span>
                </span>
            </div>
        </div>

        <div class="wmw-mission-body">

            {% if nextMission is not null %}
                <div class="wmw-mission-pagination">
                    <a href="{{ path('mission_view', { 'missionId' : nextMission.id }) }}">{{ 'mission.view.contractor.next_mission' | trans }}</a>
                </div>
            {% endif %}

            <div class="wmw-mission-content row">

                {% for userMission in userMissions %}
                    {% set lastMsg = userMission.thread.messages | last %}

                    <div class="wmw-mission-element wmw-mission-element--shortlist">
                        <div class="element-title">
                            Advisor {{ userMission.idForContractor }}

                            <div class="element-title-links">
                                <a href="{{ path('mission_answer_to_advisor', { 'userMissionId' : userMission.id }) }}" class="wmw-simple-button wmw-simple-button--green">
                                    <i class="icon icon--eye"></i> {{ 'inbox.show' | trans }}</a>
                                </a>
                            </div>

                        </div>
                        <div class="element-content{% if lastMsg.sender.id == userMission.user.id and lastMsg.metadata[1].isRead == false %} element-content--newmessage{% endif %}">
                            <div class="element-content-title">Advisor {{ userMission.idForContractor }}</div>
                            {{ lastMsg.body }}
                            <div class="element-content-bottom">
                                {{ lastMsg.createdAt | date('D d M h\\hm') }}
                            </div>
                        </div>

                        <div class="element-notes{% if userMission.note == '' %} element-notes--empty{% endif %}">
                            <div class="element-notes-empty">
                                <span>Notes<br /><i class="icon icon--notes"></i></span>
                            </div>
                            <textarea class="element-notes-textarea" data-id="{{ userMission.id }}" data-path="{{ path('user_mission_notes') }}">{{ userMission.note }}</textarea>
                            <div class="element-notes-status">{{ 'form.note.saved' | trans }}</div>
                        </div>

                        <div class="element-buttons">
                            {% if userMission.status != constant('SHORTLIST', userMission) %}
                                <a href="{{ path('user_mission_refuse', { 'userMissionId' : userMission.id }) }}" class="wmw-button wmw-button--red wmw-button--border wmw-button--small">
                                    <i></i><span>
                                        <i class="icon icon--cross"></i>
                                        {{ 'mission.view.contractor.btn_refuse' | trans }}
                                    </span><i></i>
                                </a>
                            {% else %}
                                <br>
                            {% endif %}
                            {% if userMission.status != constant('SHORTLIST', userMission) and shortlisted < 3 %}
                                <a href="{{ path('user_mission_add_to_shortlist', { 'userMissionId' : userMission.id }) }}" class="wmw-button wmw-button--green wmw-button--border wmw-button--small">
                                    <i></i><span>
                                        <i class="icon icon--star"></i>
                                        {{ 'mission.view.contractor.btn_add_to_shortlist' | trans | upper }}
                                    </span><i></i>
                                </a>
                            {% elseif userMission.status == constant('SHORTLIST', userMission) %}
                                <a href="{{ path('user_mission_remove_from_shortlist', { 'userMissionId' : userMission.id }) }}" class="wmw-button wmw-button--red wmw-button--border wmw-button--small">
                                    <i></i><span>
                                        <i class="icon icon--star"></i>
                                        {{ 'mission.view.contractor.btn_remove_from_shortlist' | trans | upper }}
                                    </span><i></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if userMissions is empty %}
                    <div class="wmw-mission-element wmw-mission-element--shortlist"></div>
                    <div class="wmw-mission-element wmw-mission-element--shortlist">
                        <image src="/images/picto_Working.jpg" /><br />
                        {{ 'mission.message.no_advisor' | trans }}
                    </div>
                {% endif %}
            </div>

            <div class="wmw-mission-sidebar">
                <div class="sidebar-wrapper" >
                    <div class="sidebar-date">
                        {{ 'mission.view.contractor.pitched_at' | trans({ date : mission.updateDate | date('d/m/Y') }) }}
                    </div>
                    <p>
                        {{ mission.resume | raw }}
                    </p>
                </div>
                <a href="#" class="sidebar-button"></a>
            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
