{% extends '::base.html.twig' %}
{% trans_default_domain "tools" %}

{% block body %}
    <div class="wmw-mission col-xs-10 col-xs-offset-1">

        <a href="{{ path('dashboard') }}" class="wmw-mission-close"><i class="icon icon--cross"></i>{{ 'mission.view.advisor.btn_back_to_board' | trans | upper }}</a>

        <div class="wmw-mission-breadcrumbs">
            <span class="breadcrumbs-el active">1. {{ 'mission.view.contractor.status_advisor' | trans | upper }}</span>
            <span class="breadcrumbs-el active">2. {{ 'mission.view.contractor.status_shortlist' | trans | upper }}</span>
            <span class="breadcrumbs-el">3. {{ 'mission.view.contractor.status_finalit' | trans | upper }}</span>
        </div>

        <div class="wmw-mission-header row">
            <h1 class="col-xs-12 col-lg-5">
                {{ mission.title.title | trans }}
                <small><i class="icon icon--certification"></i>
                    {{ 'mission.view.certifications' | trans | humanize }} :
                    {% if mission.certifications.count() > 0 %}
                        {% for certif in mission.certifications %}
                            {{ certif.name }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ 'mission.view.no_certification' | trans }}
                    {% endif %}
                </small>
            </h1>

            <div class="wmw-mission-summarybtn col-xs-12">
                <a href="#" class="wmw-button wmw-button--small">
                    <i></i>
                    <span class='off'>
                        {{ 'mission.view.more_info' | trans }}
                    </span>
                    <span class='on'>
                        {{ 'mission.view.less_info' | trans }}
                    </span>
                    <i></i>
                </a>
            </div>

            <div class="wmw-mission-summary col-xs-12 col-lg-7 row">
                <span class="summary-el">
                    <span>
                        <i class="icon icon--avatar"></i><br />
                        {{ shortlisted }} {{ 'dashboard.contractor.mission.shortlist' | trans }}
                    </span>
                </span>
                <span class="summary-el">
                    <span>
                        <i class="icon icon--document"></i><br />
                        {{ nbProposale }}/3 {{ 'dashboard.contractor.mission.proposal' | trans }}
                    </span>
                </span>

            <span class="summary-el summary-el--salary">
                <span>
                    {{ 'mission.view.contractor.finance' | trans({ '%price': (mission.originalBudget | currency_convert_format(mission.currency.code, false, true, mission.currency.code) ), '%professionalExpertise': mission.professionalExpertise.name | trans }, 'tools') | raw }}
                    {% for kind in mission.missionKinds %}
                        {{ kind.name | trans }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </span>
            </span>
                <span class="summary-el">
                    <span>
                        <i class="icon icon--calendar"></i><br />
                        {{ mission.applicationEnding | time_diff }}
                    </span>
                </span>
                <span class="summary-el">
                    <span>
                        <i class="icon icon--pointer"></i><br />
                        {% if mission.address %}
                            {% if mission.address.city %}
                                {{ mission.address.city }}<br>
                            {% endif %}
                            {{ mission.address.country | countryName }}
                        {% endif %}
                    </span>
                </span>
                <span class="summary-el">
                    <span>
                        <i class="icon icon--language"></i><br />
                        {% for lang in mission.languages %}
                            {{ lang.name | trans }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </span>
                </span>

                <span class="summary-el summary-el--answer">
                    <span>
                        <i class="icon icon--star"></i><br />
                        {{ 'mission.view.contractor.status_shortlist' | trans }}
                    </span>
                </span>
            </div>
        </div>
        <!--END TRAIL---->

        <div class="wmw-mission-body">


            <div class="wmw-mission-pagination">
                {% if prevMission is not null %}
                    <a href="{{ path('mission_view', { 'missionId' : prevMission.id }) }}">{{ 'mission.view.contractor.prev_mission' | trans }}</a>
                {% endif %}
                {% if nextMission is not null %}
                    <a href="{{ path('mission_view', { 'missionId' : nextMission.id }) }}">{{ 'mission.view.contractor.next_mission' | trans }}</a>
                {% endif %}
            </div>

            <div class="wmw-mission-content row">

            {% for userMission in userMissions %}
                {% set lastMsg = userMission.thread.messages | last %}
                {% set read = lastMsg.metadata[1].isRead %}

                <div class="wmw-mission-element wmw-mission-element--shortlist">

                    <div class="element-title">
                        <a href="{{ path('user_profile_view', { 'missionId' : mission.id, 'userId' : userMission.user.id }) }}">
                            {{ userMission.user.firstName }} {{ userMission.user.lastName }}
                        </a>
                        <div class="element-title-links">
                            <a href="{{ path('mission_answer_to_advisor', { 'userMissionId' : userMission.id }) }}" class="wmw-simple-button wmw-simple-button--green">
                                <i class="icon icon--eye"></i> {{ 'inbox.show' | trans }}
                            </a>
                            {% if userMission.user.resumes is not empty %}
                                {% set resume = userMission.user.resumes | last %}
                                <a href="{{ path('download_resume', { id : resume.id }) }}" class="wmw-simple-button wmw-simple-button--green">
                                    <i class="icon icon--download"></i> {{ 'form.btn.download_resume' | trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="element-content{% if lastMsg.sender.id == userMission.user.id and lastMsg.metadata[1].isRead == false %} element-content--newmessage{% endif %}">
                        <div class="element-content-title">{{ 'footer.advisor' | trans }} {{ userMission.idForContractor }}</div>
                        {% if lastMsg.sender.id == userMission.user.id %}
                            {% if not read %}
                                {{ 'inbox.new_message' | trans }}
                            {% endif %}
                        {% else %}
                            {{ 'inbox.you' | trans | upper }}<br>
                        {% endif %}

                        {{ lastMsg.body }}
                        <div class="element-content-bottom">
                            {{ lastMsg.createdAt | date('D d M h\\hm') }}
                        </div>

                    </div>
                    <div class="element-notes{% if userMission.note == '' %} element-notes--empty{% endif %}">
                        <div class="element-notes-empty">
                            <span>Notes<br /><i class="icon icon--notes"></i></span>
                        </div>
                        <textarea class="element-notes-textarea" data-id="{{ userMission.id }}" data-path="{{ path('user_mission_notes') }}">{{ userMission.note }}</textarea>
                        <div class="element-notes-status">{{ 'form.note.saved' | trans }}</div>
                    </div>

                    <div class="element-buttons">
                        <a class="wmw-button wmw-button--red wmw-button--border wmw-button--small"
                           onclick="return swalConfirm('{{ 'legends.confirmation.refuse_user' | trans }}',
                                   '{{ path('user_mission_refuse', { 'userMissionId' : userMission.id }) }}')">
                            <i></i><span>
                                <i class="icon icon--cross"></i>
                                {{ 'mission.view.contractor.btn_refuse' | trans }}
                            </span><i></i>
                        </a>
                        <a href="{{ path('user_mission_add_to_contract', { 'userMissionId' : userMission.id }) }}"
                           class="wmw-button wmw-button--green wmw-button--border wmw-button--small">
                            <i></i><span>
                                <i class="icon icon--handshake"></i>
                                {{ 'mission.view.contractor.btn_contract' | trans | upper }}
                            </span><i></i>
                        </a>
                    </div>

                </div>
            {% endfor %}

        </div>

            <div class="wmw-mission-sidebar">
                <div class="sidebar-wrapper" >
                    <div class="sidebar-date">
                        {{ 'mission.view.contractor.pitched_at' | trans({ date : mission.updateDate | date('d/m/Y') }) }}
                    </div>
                    <p>
                        {{ mission.resume | nl2br }}
                    </p>
                </div>
                <a href="#" class="sidebar-button"></a>
        </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}