{% extends '::base.html.twig' %}
{% trans_default_domain "tools" %}

{% block body %}

    {% set mission = userMission.mission %}
    {% set user    = userMission.user %}
    {% set msgCount = (userMission.thread.messages|length) %}
    {% set step = null %}
    {% for oneStep in mission.steps %}
        {% if oneStep.status == 1 %}
            {% set step = oneStep %}
        {% endif %}
    {% endfor %}

    <div class="wmw-mission col-xs-10 col-xs-offset-1">
        {% if step.position == 3 %}
            <a href="{{ path('dashboard') }}" class="wmw-mission-close"><i
                        class="icon icon--cross"></i>{{ 'mission.view.advisor.btn_back_to_board' | trans }}</a>
        {% else %}
            <a href="{{ path('mission_view', { 'missionId' : mission.id }) }}" class="wmw-mission-close"><i
                        class="icon icon--cross"></i>{{ 'mission.view.advisor.btn_back_to_mission' | trans }}</a>
        {% endif %}
        <div class="wmw-mission-breadcrumbs">
            <span class="breadcrumbs-el active">
                1. {{ 'mission.view.contractor.status_advisor' | trans | upper }}</span>
            <span class="breadcrumbs-el{% if step.position > 1 %} active{% endif %}">
                2. {{ 'mission.view.contractor.status_shortlist' | trans | upper }}
                {% if step.position == 1 and shortlisted > 0 %}
                    <a href="{{ path('mission_shortlist', { 'missionId' : mission.id }) }}">
                        <button class="wmw-button wmw-button--black wmw-button--border wmw-button--small">
                        <i></i><span>
                            {{ 'mission.view.contractor.btn_proced_to_shortlist' | trans | upper }}
                        </span><i></i>
                        </button>
                    </a>
                {% endif %}
            </span>
            <span class="breadcrumbs-el{% if step.position > 2 %} active{% endif %}">
                3. {{ 'mission.view.contractor.status_finalit' | trans | upper }}</span>
        </div>

        <div class="wmw-mission-header row">
            <h1 class="col-xs-12 col-lg-5">
                {{ mission.title.title | trans }}
                <small><i class="icon icon--certification"></i>
                    {{ 'mission.view.certifications' | trans | humanize }} :
                    {% if mission.certifications.count() > 0 %}
                        {% for certif in mission.certifications %}
                            {{ certif.name }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ 'mission.view.no_certification' | trans }}
                    {% endif %}
                </small>
            </h1>

            <div class="wmw-mission-summarybtn col-xs-12">
                <a href="#" class="wmw-button wmw-button--small">
                    <i></i>
                    <span class='off'>
                        {{ 'mission.view.more_info' | trans }}
                    </span>
                    <span class='on'>
                        {{ 'mission.view.less_info' | trans }}
                    </span>
                    <i></i>
                </a>
            </div>

            <div class="wmw-mission-summary col-xs-12 col-lg-7 row">

                {% if step.position == 1 %}
                    <span class="summary-el">
                        <span>
                            <i class="icon icon--avatar"></i><br/>
                            {{ interested }} {{ 'dashboard.contractor.mission.interested' | trans }}
                        </span>
                    </span>
                    <span class="summary-el summary-el--shortlist">
                        <span>
                            <i class="icon icon--star"></i><br/>
                            <span class="number">{{ shortlisted }}</span>/3 {{ 'dashboard.contractor.mission.selected' | trans }}
                        </span>
                    </span>
                {% elseif step.position == 2 %}
                    <span class="summary-el">
                        <span>
                            <i class="icon icon--avatar"></i><br/>
                            {{ shortlisted }} {{ 'dashboard.contractor.mission.shortlist' | trans }}
                        </span>
                    </span>
                    <span class="summary-el">
                        <span>
                            <i class="icon icon--document"></i><br/>
                            {{ nbProposale }}/3 {{ 'dashboard.contractor.mission.proposal' | trans }}
                        </span>
                    </span>
                {% endif %}

                <span class="summary-el summary-el--salary">
                    <span>
                        {{ 'mission.view.contractor.finance' | trans({ '%price': (mission.originalBudget | currency_convert_format(mission.currency.code, false, true, mission.currency.code) ), '%professionalExpertise': mission.professionalExpertise.name | trans }, 'tools') | raw }}
                        {% for kind in mission.missionKinds %}
                            {{ kind.name | trans }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </span>
                </span>
                <span class="summary-el">
                    <span>
                        <i class="icon icon--calendar"></i><br/>
                        {{ mission.applicationEnding | time_diff }}
                    </span>
                </span>
                <span class="summary-el">
                    <span>
                        <i class="icon icon--pointer"></i><br/>
                        {% if mission.address %}
                            {% if mission.address.city %}
                                {{ mission.address.city }}<br>
                            {% endif %}
                            {{ mission.address.country | countryName }}
                        {% endif %}
                    </span>
                </span>
                <span class="summary-el">
                    <span>
                        <i class="icon icon--language"></i><br/>
                        {% for lang in mission.languages %}
                            {{ lang.name | trans }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </span>
                </span>

                {% if step.position == 3 %}
                    <span class="summary-el">
                        <span>
                            <i class="icon icon--world"></i><br/>
                            {% if mission.telecommuting %}
                                {{ 'mission.view.advisor.on_site' | trans }}
                            {% else %}
                                {{ 'mission.view.advisor.not_on_site' | trans }}
                            {% endif %}
                        </span>
                    </span>
                    <span class="summary-el">
                        <span>
                            <i class="icon icon--clock"></i><br/>
                            from {{ mission.missionBeginning | date('m/d/Y') }}
                            to {{ mission.missionEnding | date('m/d/Y') }}
                        </span>
                    </span>
                {% endif %}

                <span class="summary-el summary-el--selected">
                    <span>
                        {% if step.position == 3 %}
                            <i class="icon icon--handshake"></i><br/>
                            {{ 'dashboard.contractor.mission.selected' | trans | raw }}
                        {% elseif step.position == 2 %}
                            <i class="icon icon--selected"></i><br/>
                            {{ 'dashboard.contractor.mission.shortlist' | trans }}
                        {% else %}
                            <i class="icon icon--consultant"></i><br/>
                            {{ 'dashboard.contractor.mission.interested' | trans }}
                        {% endif %}
                    </span>
                </span>

            </div>
        </div>

        <div class="wmw-mission-body wmw-mission-body--mail">
            <div class="wmw-mission-content row">
                <div class="wmw-mission-mail">

                    <div class="mail-toolbar">
                        {% if step.position == 1 %}
                            <div class="mail-toolbar-buttons">

                                {% if userMission.status != constant('SHORTLIST', userMission) %}

                                    <a class="wmw-button wmw-button--red wmw-button--border wmw-button--small"
                                       onclick="return swalConfirm('{{ 'legends.confirmation.refuse_user' | trans }}',
                                         '{{ path('user_mission_refuse', { 'userMissionId' : userMission.id }) }}' )">
                                        <i></i><span>
                                            <i class="icon icon--cross"></i>
                                            {{ 'mission.view.contractor.btn_refuse' | trans }}
                                        </span><i></i>
                                    </a>
                                    {% if shortlisted < 3 %}

                                        {% if msgCount < 3 %}
                                            <a class="wmw-button wmw-button--green wmw-button--border wmw-button--small"
                                               onclick="noup()">
                                                <i></i><span>
                                            <i class="icon icon--star"></i>
                                                    {{ 'mission.view.contractor.btn_add_to_shortlist' | trans | upper }}
                                        </span><i></i>
                                            </a>
                                        {% else %}
                                            <a class="wmw-button wmw-button--green wmw-button--border wmw-button--small"
                                               onclick="return swalConfirm('{{ 'legends.confirmation.add_user' | trans }}',
                                                       '{{ path('user_mission_add_to_shortlist', { 'userMissionId' : userMission.id }) }}')">
                                                <i></i><span>
                                            <i class="icon icon--star"></i>
                                                    {{ 'mission.view.contractor.btn_add_to_shortlist' | trans | upper }}
                                        </span><i></i>
                                            </a>
                                        {% endif%}

                                    {% endif %}
                                {% else %}

                                    <a class="wmw-button wmw-button--red wmw-button--border wmw-button--small"
                                       onclick="return swalConfirm('{{ 'legends.confirmation.remove_user' | trans }}',
                                               '{{ path('user_mission_remove_from_shortlist', { 'userMissionId' : userMission.id }) }}')">
                                        <i></i><span>
                                            <i class="icon icon--star"></i>
                                            {{ 'mission.view.contractor.btn_remove_from_shortlist' | trans | upper }}
                                        </span><i></i>
                                    </a>

                                {% endif %}

                    </div>
                        {% elseif step.position == 2 %}
                            <div class="mail-toolbar-buttons">
                                <a class="wmw-button wmw-button--red wmw-button--border wmw-button--small"
                                   onclick="return swalConfirm('{{ 'legends.confirmation.refuse_user' | trans }}',
                                           '{{ path('user_mission_refuse', { 'userMissionId' : userMission.id }) }}')">
                                    <i></i><span>
                                        <i class="icon icon--cross"></i>
                                        {{ 'mission.view.contractor.btn_refuse' | trans }}
                                    </span><i></i>
                                </a>
                                <a href="{{ path('user_mission_add_to_contract', { 'userMissionId' : userMission.id }) }}"
                                   class="wmw-button wmw-button--green wmw-button--border wmw-button--small">
                                    <i></i><span>
                                        <i class="icon icon--handshake"></i>
                                        {{ 'mission.view.contractor.btn_contract' | trans | upper }}
                                    </span><i></i>
                                </a>
                            </div>
                        {% endif %}

                        <div class="mail-toolbar-title">
                            {% if step.position == 1 %}
                                {{ userMission.user.firstName }}
                            {% else %}
                                <a href="{{ path('user_profile_view', { 'missionId' : mission.id, 'userId' : userMission.user.id }) }}">
                                    {{ userMission.user.firstName }} {{ userMission.user.lastName }}
                                </a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mail-content">

                        {% if step.position == 3 %}
                            <div class="mail-content-profile">

                                {% set image = null %}
                                {% if user.images is not empty %}
                                    {% set image = user.images | last %}
                                    {% if image.name is not null %}
                                        <div class="mail-content-profile-picture" style="background-image:url({{ image.webPath() }});"></div>
                                    {% endif %}
                                {% else %}
                                    {% set image = asset('images/' ~ random(['placeholder-pp-0.png', 'placeholder-pp-1.png', 'placeholder-pp-2.png', 'placeholder-pp-3.png'])) %}
                                    <div class="mail-content-profile-picture" style="background-image:url({{ image }});"></div>

                                {% endif %}

                                <div class="mail-content-profile-name">{{ user.firstname }} {{ user.lastname }}</div>
                                <div class="mail-content-profile-coords">
                                    <a href="mailto:franckdellage@gmail.com">{{ user.email }}</a><br />
                                    {% if user.phone is not null %}
                                        {{ user.phone.prefix.prefix }}{{ user.phone.number }}
                                    {% endif %}
                                {#</div>#}
                                {#<div class="mail-content-profile-buttons ">#}
                                    {% if user.resumes is not empty %}
                                        <a href="{{ path('download_resume', { id : userMission.id }) }}" class="wmw-simple-button">
                                            <i class="icon icon--download"></i>{{ 'form.btn.download_resume' | trans }}</a>
                                    {% endif %}

                                    {% if userMission.thread.proposals is not empty %}

                                        {% set proposal = userMission.thread.proposals | last %}
                                        <a href="{{ path('download_proposal', { id : userMission.id }) }}" class="wmw-simple-button wmw-simple-button--green">
                                            <i class="icon icon--download"></i>{{ 'form.btn.download_proposal' | trans }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}


                        {% if step.position == 2 %}
                            <div class="mail-content-profile">
                                <div class="mail-content-profile-name">{{ user.firstname }} {{ user.lastname }}</div>

                                <div class="mail-content-profile-buttons row">

                                {% if user.resumes is not empty %}
                                    <a href="{{ path('download_resume', { id : userMission.id }) }}" class="wmw-simple-button">
                                        <i class="icon icon--download"></i>{{ 'form.btn.download_resume' | trans }}</a>
                                {% endif %}

                                {% if userMission.thread.proposals is not empty %}
                                    {% set proposal = userMission.thread.proposals | last %}
                                    <a href="{{ path('download_proposal', { id : userMission.id }) }}" class="wmw-simple-button wmw-simple-button--green">
                                        <i class="icon icon--download"></i>{{ 'form.btn.download_proposal' | trans }}</a>
                                {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="mail-content-notes{% if step.position >= 2 %} mail-content-notes--semi{% endif %}">
                            <label for="wmw-mission-notes">Notes</label>
                            <textarea id="wmw-mission-notes" class="element-notes-textarea" data-id="{{ userMission.id }}" data-path="{{ path('user_mission_notes') }}">{{ userMission.note }}</textarea>
                            <div id="wmw-mission-notes-status" class="element-notes-status">{{ 'form.note.saved' | trans }}</div>
                        </div>

                        <div class="mail-content-chat">
                            <div class="message" id="thread_message">
                                {% include '@Mission/Mission/Contractor/view_thread_contractor.html.twig' %}
                            </div>
                        </div>

                        <div class="mail-content-answer">
                            <textarea id="inbox_input_message" name="inbox[input_message]"></textarea>
                            <button id="submit_text" value="{{ 'form.btn.send' | trans | upper }}"
                                    onClick="sendMessage()">{{ 'form.btn.send' | trans }}</button>
                            <div class="mail-content-answer-bottom">
                                {% if form is defined and step.position == 2 %}
                                    {{ form_start(form) }}
                                    {{ form_errors(form) }}
                                    {{ form_errors(form.file) }}

                                    {{ form_row(form.submit) }}
                                    {{ form_widget(form.file, { 'attr' : { class : 'bottom-proposal'}}) }}
                                    {{ form_end(form) }}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="wmw-mission-sidebar {% if step.position == 1 %}wmw-mission-sidebar--active{% endif %}">
                <div class="sidebar-wrapper">
                    <div class="sidebar-date">
                        {{ 'mission.view.contractor.pitched_at' | trans({ date : mission.updateDate | date('d/m/Y') }) }}
                    </div>
                    <p>
                        {{ mission.resume |  nl2br }}
                    </p>
                </div>
                <a href="#" class="sidebar-button"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        function noup() {
            swal({
                text: "{{ 'mission.message.not_enough_messages' | trans }}",
                type: 'warning',
                confirmButtonColor: '#3cc3b7'
            });
        }

//        AJAX SEND / UPDATE MESSAGE
        function sendMessage() {
            if ($('textarea#inbox_input_message').val()) {

                var msg = $('textarea#inbox_input_message').val();
                var arrayWords = msg.split(' ');
                var ok = true;
                var re = new RegExp("(https?:\\/\\/(www\\.)?)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)");

                for (var i = 0; i < arrayWords.length; i++){
                    if (re.test(msg)) {
                        ok = false;
                    }
                }

                if (ok) {
                    $.ajax({
                        url: "{{ path('send_message_to_advisor') }}",
                        method: "post",
                        data: {
                            id: {{ userMission.id }},
                            message: msg
                        }
                    }).done(function (msg) {
                        $('textarea#inbox_input_message').val('');
                        $('#thread_message').html(msg);
                        $(".mail-content-chat").stop().animate({scrollTop: $(".mail-content-chat")[0].scrollHeight}, 1000);
                    });
                } else {
                    swal({
                        text: "{{ 'error.message.url' | trans }}",
                        type: 'warning',
                        confirmButtonColor: '#3cc3b7',
                        confirmButtonText: "{{ 'form.btn.ok' | trans }}"
                    });
                }
            }
        }

    </script>
{% endblock %}
