{% extends '::base.html.twig' %}
{% trans_default_domain "tools" %}

{% block body %}

    {% set mission = userMission.mission %}
    {% set user    = userMission.user %}

    {# set up top #}
    <div class="top">

        {# set up trail #}
        <div class="trail">
            <h4>1. {{ 'mission.view.contractor.status_advisor' | trans | upper }} >
                2. {{ 'mission.view.contractor.status_shortlist' | trans | upper }} >
                3. {{ 'mission.view.contractor.status_finalit' | trans | upper }}
                &nbsp;&nbsp;&nbsp;
                CrossIcon
                <a href="{{ path('dashboard') }}">{{ 'mission.view.advisor.btn_back_to_board' | trans | upper }}</a>
            </h4>
        </div>
        <p>

        {# set up content_top #}
        <div class="content_top">
            <div class="info">
                {{ mission.title }}<br>
                CertificationIcon {{ 'typemissions.certification' | trans }}:
                {% for certif in mission.certifications %}
                {{ certif.name }}
                {% if not loop.last %}
                    ,
                {% endif %}
                {% endfor %}<br>
            </div>
            <div class="finance">
                {% for kind in mission.missionKinds %}
                {{ kind.name | trans }}
                {% if not loop.last %}
                    ,
                {% endif %}
                {% endfor %}<br>
                {{ 'mission.view.contractor.finance' | trans({ '%price': mission.price, '%professionalExpertise': mission.professionalExpertise.name | trans }, 'tools') | nl2br }}
            </div>
            <div class="day_left">
                ClockIcon<br>
                {{ mission.applicationEnding | time_diff }}
            </div>
            <div class="calendar">
                CalendarIcon<br>
                {{ mission.missionBeginning | date("M d") }}<br>
                {{ mission.missionEnding | date("M d") }}
            </div>
            <div class="address">
                PinPointIcon<br>
                {% if mission.address %}
                    {% if mission.address.city %}
                        {{ mission.address.city }}<br>
                    {% endif %}
                    {{ mission.address.country | countryName }}
                {% endif %}
            </div>
            <div class="lang">
                BubleIcon<br>
                {% for lang in mission.languages %}
                    {{ lang.name | trans }}
                    {% if not loop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </div>
            <div class="on_site">
                EarthIcon<br>
                {% if mission.telecommuting %}
                    {{ 'mission.view.advisor.on_site' | trans }}
                {% else %}
                    {{ 'mission.view.advisor.not_on_site' | trans }}
                {% endif %}
            </div>
            <div class="mission_status">
                HandShackIcon<br>
                {{ 'mission.view.selected' | trans | nl2br }}
            </div>
        </div>
    </div>
    <br>
    {# set up left and right content #}
    <div class="content">

         {#set up left content#}
        <div class="meta_data">
            Pitched at {{ mission.updateDate | date('d/m/Y') }} <br>
                {{ mission.title }}
        </div>
        <div class="resume">
            {{ mission.resume | nl2br }}
        </div>

        {# set up right content #}
        <div class="user_data">
            {% if user.images is not empty %}
                {% set image = user.images|last %}
                {% if image.name is not null %}
                    <img src="{{ asset(image.webPath()) }}"/>
                {% endif %}
            {% else %}
                <img src="{{ asset('images/' ~ random(['placeholder-pp-0.png', 'placeholder-pp-1.png', 'placeholder-pp-2.png', 'placeholder-pp-3.png'])) }}"/>
            {% endif %} <br>
            {{ user.firstName | upper }} {{ user.lastName | upper }} <br>
            {{ user.email }} <br>
            {{ user.phone.prefix.prefix }}{{ user.phone.number }} <br>
            <div class="dl_proposal">
                {% if userMission.thread.proposals is not empty %}
                    {% set proposal = userMission.thread.proposals | last %}
                    {#TODO find a better methode #}
                    {%  set path = "http://symfony.dev/" ~ proposal.getUploadRootDir %}
                    <a href="{{ path }}" download="{{ proposal.downloadName }}">{{ 'form.btn.download_proposal' | trans }}</a><br>
                {% endif %}
            </div>
            <div class="dl_resume">
                {% if user.resumes is not empty %}
                    {% set resume = user.resumes | last %}
                    {#TODO find a better methode #}
                    {%  set path = "http://symfony.dev/" ~ resume.getUploadRootDir %}
                    <a href="{{ path }}" download="{{ resume.downloadName }}">{{ 'form.btn.download_resume' | trans }}</a><br>
                {% endif %}
            </div>
        </div>
        <div class="edit" id="{{ userMission.id }}">
            {{ userMission.note }}
        </div>

        <div class="chat_box"><p>
            <div class="message" id="thread_message">
                {% include '@Mission/Mission/Contractor/view_thread_contractor.html.twig' %}
            </div>
            <div class="answer">
                <form>
                    <textarea id="inbox_input_message" name="inbox[inout_message]" required="required" title=''></textarea>
                    <input type="button" id="submit_text" value="{{ 'form.btn.send' | trans | upper }}"
                           onClick="sendMessage()"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="http://www.appelsiini.net/download/jquery.jeditable.js"></script>
    <script src="http://www.appelsiini.net/download/jquery.jeditable.mini.js"></script>
    <script type="text/javascript">

        $('.edit').editable('{{ path('user_mission_notes') }}', {
            type: 'textarea',
            submit: '{{ 'form.btn.save' | trans }}',
            indicator: '{{ 'form.note.indicator' | trans }}',
            tooltip: '{{ 'form.note.tooltip' | trans }}',
            id: $(this).attr('id')
        });

        function sendMessage() {
            if ($('textarea#inbox_input_message').val()) {
                $.ajax({
                    url: "{{ path('send_message_to_advisor') }}",
                    method: "post",
                    data: {
                        id: {{ userMission.id }},
                        message: $('textarea#inbox_input_message').val()
                    }
                }).done(function (msg) {
                    $('textarea#inbox_input_message').val('');
                    $('#thread_message').html(msg);
                });
            }
        }
        </script>
{% endblock %}
