{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('user_profile_edit'), 'attr': { 'class': 'user_profile_edit' } }) }}

    {{ form_errors(form) }}

    {{ form_row(form.image.file) }}

    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}

    {{ form_row(form.birthdate) }}
    {{ form_row(form.gender) }}

    {{ form_row(form.email) }}

    {{form_row(form.phone.prefix)}}
    {{form_row(form.phone.tel)}}

    {{ form_row(form.address.country) }}
    {{ form_row(form.address.state) }}
    {{ form_row(form.address.zipcode) }}
    {{ form_row(form.address.city) }}
    {{ form_row(form.address.street) }}
    {{ form_row(form.address.street2) }}
    {{ form_row(form.address.name) }}
    {{ form_row(form.address.label) }}

    {{ form_row(form.dailyFeesMin) }}
    {{ form_row(form.dailyFeesMax) }}

    {{ form_row(form.resume.file) }}

    {{ form_row(form.newsletter) }}

    {{ form_row(form.current_password) }}

    <div>
	<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>

{{ form_end(form) }}
