{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('user_profile_edit'), 'attr': { 'class': 'user_profile_edit' } }) }}

    {{ form_errors(form) }}

    {{ form_row(form.image.file) }}

    {{ form_row(form.user.firstName) }}
    {{ form_row(form.user.lastName) }}

    {{ form_row(form.user.birthdate) }}
    {{ form_row(form.user.gender) }}
    {{ form_row(form.user.email) }}

    {{form_row(form.user.phone.prefix)}}
    {{form_row(form.user.phone.number)}}

    {{ form_row(form.user.address.country) }}
    {{ form_row(form.user.address.state) }}
    {{ form_row(form.user.address.zipcode) }}
    {{ form_row(form.user.address.city) }}
    {{ form_row(form.user.address.street) }}
    {{ form_row(form.user.address.street2) }}

    {{ form_row(form.user.dailyFeesMin) }}
    {{ form_row(form.user.dailyFeesMax) }}

    {{ form_row(form.resume.file) }}

    {{ form_row(form.user.newsletter) }}

    <div>
       <input type="submit" value="{{ 'profile.edit.submit'|trans }}" method="post" {{ form_enctype(form) }} />
    </div>

{{ form_end(form) }}
