{% trans_default_domain 'tools' %}

<div class="wmw-dashboard-main col-xs-12 col-lg-10">
    <div class="wmw-profile">
        <div class="wmw-profile-header">

            {{ form_start(form) }}

            {# profile picture #}
            <div class="wmw-profile-header-picture">
                {% if user.images is not empty %}
                    {% set image = user.images|last %}
                    {% if image.name is not null %}
                        <img src="{{ asset(image.webPath()) }}"/>
                    {% endif %}
                {% else %}
                    <img src="{{ asset('images/' ~ random(['placeholder-pp-0.png', 'placeholder-pp-1.png', 'placeholder-pp-2.png', 'placeholder-pp-3.png'])) }}"/>
                {% endif %}
            </div>
            {{ form_widget(form.image.file) }}
            {{ form_errors(form.image.file) }}

            {# head profile#}
            <div class="wmw-profile-header-name">{{ user.lastName }}<br/>{{ user.firstName | upper }}</div>

            <div class="wmw-profile-header-button">
                <a href="{{ path('user_profile_show') }}">
                    <button type="button" class="wmw-button wmw-button--small wmw-button--border">
                        <i></i><span><i class="icon icon--pen"></i>
                            {{ 'user.profile_show.advisor.link_show_profile' | trans | upper }}
                            </span><i></i>
                    </button>
                </a>
            </div>

            <a href="{{ path('dashboard') }}" class="wmw-profile-close"><i class="icon icon--cross"></i>
                {{ 'user.profile_show.advisor.link_back_to_board' | trans }}
            </a>
        </div>

        {# links #}
        <div class="wmw-profile-tabs row">
            <a href="{{ path('user_profile_show') }}" class="active">
                {{ 'user.profile_show.advisor.link_general' | trans }}
            </a>
            <a href="{{ path('user_profile_password') }}">
                {{ 'user.profile_show.advisor.link_password' | trans }}
            </a>
        </div>

        <div class="wmw-profile-content">
            <div class="row">

                <div class="col-xs-12 col-sm-5 row">

                    <div class="wmw-bgfield col-xs-10">
                        <label for="profile-email">{{ 'home.contractor.preregister.email' | trans }}</label>
                        {{ form_widget(form.user.email) }}
                        <div class="wmw-bgfield-bg"><i class="icon icon--email"></i></div>
                        {{ form_errors(form.user.email) }}
                    </div>

                    <div class="wmw-bgfield col-xs-10">
                        <label for="profile-backup-email">{{ 'home.contractor.preregister.emergency_email' | trans | capitalize }}</label>
                        {{ form_widget(form.user.emergencyEmail) }}
                        <div class="wmw-bgfield-bg"><i class="icon icon--email"></i></div>
                        {{ form_errors(form.user.emergencyEmail) }}
                    </div>

                    <div class="wmw-bgfield col-xs-10">
                        <label for="profile-phone">{{ 'form.phone.number' | trans }}</label>
                        {{ form_widget(form.user.phone.prefix) }}{{ form_widget(form.user.phone.number) }}
                        <div class="wmw-bgfield-bg"><i class="icon icon--phone"></i></div>
                        {{ form_errors(form.user.phone) }}
                        {{ form_errors(form.user.phone.prefix) }}
                        {{ form_errors(form.user.phone.number) }}
                    </div>

                    {% set address = form.user.addresses | last %}

                    <div class="wmw-bgfiled col-xs-10">
                        <div class="wmw-bgfield">
                            <label for="profile-address">{{ 'form.address.address' | trans }}</label>
                            {{ form_widget(address.number) }}
                            {{ form_widget(address.street) }}
                            {{ form_widget(address.street2) }}
                            {{ form_widget(address.zipcode) }}
                            {{ form_widget(address.city) }}
                            {{ form_widget(address.state) }}
                            <div class="wmw-bgfield-bg"><i class="icon icon--address"></i></div>
                            {{ form_errors(address.number) }}
                            {{ form_errors(address.street) }}
                            {{ form_errors(address.street2) }}
                            {{ form_errors(address.zipcode) }}
                            {{ form_errors(address.city) }}
                            {{ form_errors(address.state) }}
                            {{ form_errors(address) }}
                        </div>
                    </div>

                        <div class="wmw-bgfield col-xs-10">
                            <label for="profile-country">{{ 'form.address.country'  | trans }}</label>
                            {{ form_widget(address.country) }}
                            <div class="wmw-bgfield-bg"><i class="icon icon--world"></i></div>
                            {{ form_errors(address.country) }}
                        </div>

                    </div>

                <div class="col-xs-14 col-sm-6 row">

                    {% if roleAdvisor %}
                        <div class="wmw-bgfield col-xs-12">
                            <label for="profile-languages">{{ 'mission.new.label.language' | trans }}</label>
                            {{ form_widget(form.user.languages) }}
                            <div class="wmw-bgfield-bg"><i class="icon icon--language"></i></div>
                            {{ form_errors(form.user.languages) }}
                        </div>

                        <div class="wmw-bgfield col-xs-12">
                            <label for="profile-languages">{{ 'mission.new.label.certification' | trans }}</label>
                            {{ form_widget(form.user.certifications) }}
                            <div class="wmw-bgfield-bg"><i class="icon icon--language"></i></div>
                            {{ form_errors(form.user.certifications) }}
                        </div>
                    {% endif %}

                    {% set save = '<i></i><span>' ~ 'form.btn.save' | trans ~ '</span><i></i>' %}
                    {{ form_row(form.submit, { attr : { class : "wmw-button" }, label : save }) }}
                    {{ form_errors(form) }}
                    {{ form_errors(form.user) }}
                    {{ form_errors(form.image) }}

                    {{ form_end(form) }}

                </div>

                <div class="col-xs-12 row">
                    <div class="col-xs-12 col-md-5 col-md-offset-1">
                        <div class="wmw-profile-subtitle"><span>{{ 'payment.subscription' | trans }}</span></div>
                        <div class="wmw-profile-subscription">
                            {% if user.planExpiresAt and user.planExpiresAt > date() %}
                                <div class="wmw-profile-subscription-plan">
                                    <span class="plan-icon"><i class="icon icon--star"></i></span>
                                    <span class="plan-label">{{ 'payment.plan.advisor' | trans }}</span>
                                </div>
                                <div class="wmw-profile-subscription-info">
                                    <i class="icon icon--clock"></i> {{'payment.one_year' | trans }}<br/>
                                    <i class="icon icon--calendar"></i> {{'payment.ends' | trans }} {{user.planExpiresAt|date("Y-m-d")}}
                                </div>
                            {% else %}
                                <div class="wmw-profile-subscription-plan">
                                    <span class="plan-icon"><i class="icon icon--star"></i></span>
                                    <span class="plan-label">{{ 'payment.plan.free' | trans }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
