{% trans_default_domain 'tools' %}
{% block header %}
    {% if home is not defined %}

        <header class="wmw-header row wmw-header--ob">

            <a href="{{ path('home_page_advisor') }}" class="wmw-header-logo" style="vertical-align: middle">
                <img src="{{ asset('images/header-logo.png') }}" alt="WMW"/>
            </a>

            <div class="wmw-header-profile">
                {% if user is defined and user is not null %}
                    {% if user.images is not empty %}
                        {% set image = user.images|last %}
                        {% if image.name is not null %}
                            <span class="wmw-header-profile-picture">
                                <img src="{{ asset(image.webPath()) }}"/>
                            </span>
                        {% endif %}
                    {% else %}
                        <span class="wmw-header-profile-picture">
                            <img src="{{ asset('images/' ~ random(['placeholder-pp-0.png', 'placeholder-pp-1.png', 'placeholder-pp-2.png', 'placeholder-pp-3.png'])) }}"/>
                        </span>
                    {% endif %}
                {% endif %}

                <div class="wmw-header-profile-button">
                    {% if user is defined and user is not null %}
                        <button type="button" class="wmw-button wmw-button--border" id="hide_logout">
                            <i></i><span>
                        {% if (user.firstName ~ user.LastName) | length < 20 %}
                            <span class="name">{{ user.firstName }} {{ user.lastName }}</span>
                            {% else %}
                            <span class="name">{{ (user.firstName) | truncate(1, false, '.') }} {{ user.lastName | truncate(18, false, '') }}</span>
                        {% endif %}
                                <i class="icon icon--arrow"></i>
                                <i class="icon icon--avatar"></i>
                            </span><i></i>
                        </button>
                        <div class="wmw-header-profile-menu">
                            <a href="{{ path('user_profile_show') }}">{{ 'header.profile' | trans }}</a>
                            <a href="{{ path('fos_user_security_logout') }}">{{ 'header.logout' | trans }}</a>
                        </div>
                        {% include '::local.html.twig' %}

                    {% else %}
                        {% include '::local.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </header>
    {% endif %}

{% endblock header %}