{% trans_default_domain 'FOSUserBundle' %}

<div class="user_user_show">

  <p>
    {% trans with {'%nb%': fos_message_nb_unread()} from 'FOSUserBundle' %}
      profile.show.unread
    {% endtrans %}
  </p>
  <p>
    {% trans with {'%nb%': user.nbLoad } from 'FOSUserBundle' %}
      profile.show.nbLoad
    {% endtrans %}
  </p>
  <p>
    {% if user.readReport == true %}
      {{ 'profile.show.readReportActivate'|trans }}
    {% else %}
      {{ 'profile.show.readReportDesactivate'|trans }}
    {% endif %}
  </p>
  <p>
    {{ 'profile.show.image'|trans }}:
    {% if image != null and image.name != null %}
      {{ image.name }} is a {{ image.type }} upload the {{ image.uploadDate|date("m/d/Y") }} 
      <img src="{{ asset(image.webPath()) }}"/> 
    {% endif %}
  </p>

  <p> {{ 'profile.show.first_name'|trans }}: {{ user.firstName }} </p>
  <p> {{ 'profile.show.last_name'|trans }}: {{ user.lastName }} </p>
  <p> {{ 'profile.show.gender'|trans }}: {{ user.gender }} </p>
  <p> {{ 'profile.show.birthdate'|trans}}:
    {% if user.birthdate != null %}
      {{ user.birthdate|date("m/d/Y") }}
    {% endif %} </p>

  <p> {{ 'profile.show.daily_fees_min'|trans }}: {{ user.dailyFeesMin }} </p>
  <p> {{ 'profile.show.daily_fees_max'|trans }}: {{ user.dailyFeesMax }} </p>

  <p> {{ 'profile.show.email'|trans }}: {{ user.email }} </p>
  <p> {{ 'profile.show.emergencyEmail'|trans }}: {{ user.emergencyEmail }} </p>

  <p> {{ 'profile.show.phone'|trans }}:
      {% if user.phone != null %}
        {{ user.phone.prefix.prefix }} {{ user.phone.number }} ({{ user.phone.prefix.country|countryName }})
      {% endif %} </p>

  <p> {{ 'profile.show.country'|trans }}:
    {% if user.country != null %}
      {{ user.country|countryName }}
    {% endif %} </p>
  <p> {{ 'profile.show.company'|trans }}:
    {% if user.company != null %}
      {{ user.company.name}}
    {% endif %} </p>

  <p> {{ 'profile.show.resume'|trans }}:
    {% if user.userData != null %}
      {{ user.userData.cvResume }}
    {% endif %} </p>

  <p> {{ 'profile.show.userResume'|trans }}:
    {% if user.userResume != null %}
      {{ user.userData.userResume }}
    {% endif %} </p>

  <p> {{ 'profile.show.professionalExpertise'|trans }}:
    {% if user.professionalExpertise != null %}
      <ul> {% for professionalExpertise in user.professionalExpertise %}
        <li> {{ professionalExpertise.name }} </li>
      {% endfor %} </ul>
    {% endif %} </p>

  <p> {{ 'profile.show.businessPractice'|trans }}:
    {% if user.businessPractice != null %}
      <ul> {% for businessPractice in user.businessPractice %}
        <li> {{ businessPractice.name }} </li>
      {% endfor %} </ul>
    {% endif %} </p>

  <p> {{ 'profile.show.missionKind'|trans }}:
    {% if user.missionKind != null %}
      <ul> {% for missionKind in user.missionKind %}
        <li> {{ missionKind.name }} </li>
      {% endfor %} </ul>
    {% endif %} </p>

  <p> {{ 'profile.show.languages'|trans }}:
    {% if user.languages is not null %}
      <ul> {% for language in user.languages %}
        <li> {{ language.name }} </li>
      {% endfor %} </ul>
    {% endif %} </p>

  <p> {{ user.newsletter ? 'profile.show.newslettertrue'|trans : 'profile.show.newsletterfalse'|trans }} </p>
</div>
