{% trans_default_domain 'tools' %}

<div class="wmw-dashboard-main col-xs-12 col-lg-10">
    <div class="wmw-profile">
        <div class="wmw-profile-header">

            {# profile picture #}
            <div class="wmw-profile-header-picture">
                {% if user.images is not empty %}
                    {% set image = user.images|last %}
                    {% if image.name is not null %}
                        <img src="{{ asset(image.webPath()) }}"/>
                    {% endif %}
                {% else %}
                    <img src="{{ asset('images/' ~ random(['placeholder-pp-0.png', 'placeholder-pp-1.png', 'placeholder-pp-2.png', 'placeholder-pp-3.png'])) }}"/>
                {% endif %}

            </div>

            {# head profile#}
            <div class="wmw-profile-header-name">{{ user.firstName }}<br/>{{ user.lastName | upper }}</div>

            <div class="wmw-profile-header-button">
                <a href="{{ path('user_profile_edit') }}">
                    <button class="wmw-button wmw-button--small wmw-button--border">
                        <i></i><span><i class="icon icon--pen"></i>
                            {{ 'user.profile_show.advisor.link_edit_profile' | trans | upper }}
                        </span><i></i>
                    </button>
                </a>
            </div>

            <a href="{{ path('dashboard') }}" class="wmw-profile-close"><i class="icon icon--cross"></i>
                {{ 'user.profile_show.advisor.link_back_to_board' | trans }}
            </a>
        </div>

        {# links #}
        <div class="wmw-profile-tabs row">
            <a href="{{ path('user_profile_show') }}" class="active">
                {{ 'user.profile_show.advisor.link_general' | trans }}
            </a>
            <a href="{{ path('user_profile_password') }}">
                {{ 'user.profile_show.advisor.link_password' | trans }}
            </a>
        </div>

        {# content #}
        <div class="wmw-profile-content wmw-bgfields--readonly">
            <div class="row">

                <div class="col-xs-12 col-sm-5 row">
                    {# email #}
                    <div class="wmw-bgfield col-xs-10">
                        <label for="profile-email">{{ 'home.contractor.preregister.email' | trans }}</label>
                        <input type="email" id="profile-email" name="profile-email" value="{{ user.email }}"
                               class="required" disabled="true"/>
                        <div class="wmw-bgfield-bg"><i class="icon icon--email"></i></div>
                    </div>

                    {# emergency mail #}
                    <div class="wmw-bgfield col-xs-10">
                            <label for="profile-backup-email">Backup email</label>
                            <input type="email" id="profile-backup-email" name="profile-backup-email"
                                   value="{{ user.emergencyEmail }}" class="required" disabled="true"/>
                        {% if user.emergencyEmail %}
                            <div class="wmw-bgfield-bg"><i class="icon icon--email"></i></div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-sm-offset-2">
                    {% if roleAdvisor %}
                        {# certification #}
                        <div class="wmw-bgfield">
                            {% form_theme form "form_themes.html.twig" %}
                            {{ form_start(form) }}
                            {{ form_widget(form.certifications) }}
                            <div class="wmw-bgfield-bg"><i class="icon icon--certification"></i></div>
                        </div>
                        <div class="wmw-bgfield">
                            {% set save = '<i></i><span>' ~ 'form.btn.save_certif' | trans ~ '</span><i></i>' %}
                            {{ form_row(form.save, {'attr': {'class': 'wmw-button wmw-button--small wmw-button--green'}, label: save}) }}
                            {{ form_end(form) }}
                        </div>

                    {% else %}
                        {# company #}
                        <div class="wmw-bgfield col-xs-10">
                            <label for="profile-company">Company</label>
                            <input type="text" id="profile-company" name="profile-company" value="{{ company.name | upper }}" class="required" disabled="true" />
                            <div class="wmw-bgfield-bg"><i class="icon icon--company"></i></div>
                        </div>
                    {% endif %}
                </div>

                {# phone number #}
                <div class="row">
                    <div class="wmw-bgfield col-xs-12 col-xs-10">
                        <label for="profile-phone">Phone number</label>
                        <input type="text" id="profile-phone" name="profile-phone"
                                {% if user.phone %}
                                    value="({{ user.phone.prefix.prefix }}){{ user.phone.number }}"
                                {% endif %}
                               class="required" disabled="true"/>
                        {% if user.phone %}
                            <div class="wmw-bgfield-bg"><i class="icon icon--phone"></i></div>
                        {% endif %}
                    </div>
                    {# languages #}
                    {#<div class="col-xs-12 col-sm-5 col-sm-offset-2">#}
                    <div class="wmw-bgfield col-xs-12 col-xs-10">
                        {% set languages = '' %}
                        {% for language in user.languages %}
                            {% if loop.last %}
                                {% set languages = languages ~ language.name | trans | upper %}
                            {% else %}
                                {% set languages = languages ~ language.name | trans | upper ~ ', ' %}
                            {% endif %}
                        {% endfor %}
                        <input type="text" id="profile-languages" name="profile-languages" value="{{ languages }}"
                               class="required" disabled="true"/>
                        {% if user.languages is not empty %}
                            <div class="wmw-bgfield-bg"><i class="icon icon--language"></i></div>
                        {% endif %}
                    </div>
                </div>

                {# address #}
                {% set renderAddress = '' %}
                {% set renderCountry = '' %}
                {% if user.addresses is not empty %}
                    {% set address = user.addresses | last %}
                    {% set renderAddress = address.street ~ address.street2 ~ ' - ' ~ address.zipcode ~ ' ' ~ address.city %}
                    {% set renderCountry = address.country %}
                {% endif %}
                <div class="col-xs-12 col-sm-6">
                    <div class="wmw-bgfield">
                        <label for="profile-address">Address</label>
                        <input type="text" id="profile-address" name="profile-address"
                               value="{{ renderAddress }}" class="required"
                               disabled="true"/>
                        {% if renderAddress != '' %}
                            <div class="wmw-bgfield-bg"><i class="icon icon--address"></i></div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                    <div class="wmw-bgfield">
                        <label for="profile-country">Country</label>
                        <select id="profile-country" name="profile-country" class="required" disabled="true">
                            <option value="{{ renderCountry }}">{{ renderCountry }}</option>
                        </select>
                        {% if renderCountry != '' %}
                            <div class="wmw-bgfield-bg"><i class="icon icon--world"></i></div>
                        {% endif %}
                    </div>
                </div>

                {% if not roleAdvisor %}
                    {# address company #}
                    {% set renderAddress = '' %}
                    {% set renderCountry = '' %}
                    {% if company.addresse is defined %}
                        {% set address = company.addresse %}
                        {% set renderAddress = address.number ~ ' ' ~ address.street ~ address.street2 ~ ' - ' ~ address.zipcode ~ ' ' ~ address.city %}
                        {% set renderCountry = address.country %}
                    {% endif %}
                    <div class="col-xs-12 col-sm-6">
                        <div class="wmw-bgfield">
                            <label for="profile-address">Address</label>
                            <input type="text" id="profile-address" name="profile-address"
                                   value="{{ renderAddress }}" class="required"
                                   disabled="true"/>
                            {% if renderAddress != '' %}
                                <div class="wmw-bgfield-bg"><i class="icon icon--address"></i></div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                        <div class="wmw-bgfield">
                            <label for="profile-country">Country</label>
                            <select id="profile-country" name="profile-country" class="required" disabled="true">
                                <option value="{{ renderCountry }}">{{ renderCountry }}</option>
                            </select>
                            {% if renderAddress != '' %}
                                <div class="wmw-bgfield-bg"><i class="icon icon--world"></i></div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if roleAdvisor %}
                    <div class="col-xs-12 row">
                        <div class="col-xs-12 col-md-5 col-md-offset-1">
                            <div class="wmw-profile-subtitle"><span>{{ 'payment.subscription' | trans }}</span></div>
                            <div class="wmw-profile-subscription">
                                {% if user.planExpiresAt and user.planExpiresAt > date() %}
                                    <div class="wmw-profile-subscription-plan">
                                        <span class="plan-icon"><i class="icon icon--star"></i></span>
                                        <span class="plan-label">{{ 'payment.plan.advisor' | trans }}</span>
                                    </div>
                                    <div class="wmw-profile-subscription-info">
                                        <i class="icon icon--clock"></i> {{'payment.one_year' | trans }}<br/>
                                        <i class="icon icon--calendar"></i> {{'payment.ends' | trans }} {{user.planExpiresAt|date("Y-m-d")}}
                                    </div>
                                {% else %}
                                    <div class="wmw-profile-subscription-plan">
                                        <span class="plan-icon"><i class="icon icon--star"></i></span>
                                        <span class="plan-label">{{ 'payment.plan.free' | trans }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
