{% trans_default_domain "InboxBundle" %}

{% if threads %}
    <table>
        <thead>
            <tr>
                <th>{% trans from 'FOSMessageBundle' %}subject{% endtrans %}</th>
                <th>{% trans from 'FOSMessageBundle' %}starter{% endtrans %}</th>
                <th>{% trans from 'FOSMessageBundle' %}startdate{% endtrans %}</th>
                <th>{% trans from 'FOSMessageBundle' %}last_message{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>

        {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.subject }} ({{ thread.messages|length }})
                    </a>

                    {% if not fos_message_is_read(thread) %}
                        ({% trans from 'FOSMessageBundle' %}new{% endtrans %})
                    {% endif %}
                </td>
                <td>
                    {% if thread.anonymousMode == true %}
                        {{ thread.teamCreator }}
                    {% else %}
                        {{ thread.createdBy }}
                    {% endif %}
                </td>
                <td>
                    {{ thread.createdAt|date }}
                </td>
                <td>
                    <a href="{{ url('show_thread', {'id': thread.id}) }}">→</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% else %}
    <table>
        <tr>
            <td colspan="6">
                {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
            </td>
        </tr>
    </table>
{% endif %}
