{% trans_default_domain "CompanyBundle" %}

<body>
    {{ form_start(form) }}
	<div>
	    {{ form_errors(form.name) }}
	    {{ form_label(form.name) }}
	    {{ form_widget(form.name) }}
	</div>
	<div>
	    {{ form_errors(form.size) }}
	    {{ form_label(form.size) }}
	    {{ form_widget(form.size) }}
	</div>
	<div>
	    {{ form_errors(form.logo) }}
	    {{ form_label(form.logo) }}
	    {{ form_widget(form.logo) }}
	</div>
	<div>
	    {{ form_errors(form.resume) }}
	    {{ form_label(form.resume) }}
	    {{ form_widget(form.resume) }}
	</div>
	<div>
	    {{ form_errors(form.businessPractice) }}
	    {{ form_label(form.businessPractice) }}
	    {{ form_widget(form.businessPractice) }}
	</div>
	<div>
	    {{ form_row(form.save) }}
	</div>
    {{ form_end(form) }}
</body>
