{% trans_default_domain "CompanyBundle" %}

{% block stylesheets %}
    {% stylesheets '@chosen_css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
<body>
    {{ form_start(form) }}

        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}

        {{ form_row(form.save) }}
    {{ form_end(form) }}
</body>


 {% javascripts '@chosen_jquery_js' '@chosen_jquery_tag_js' '@chosen_config_tag_js' '@chosen_prism_js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
