<!DOCTYPE html>
{% trans_default_domain "MissionBundle" %}
<html>
    <head>
    </head>
    <body>
        <p>
            {{ 'mission.all_missions.title'|trans }} :
        </p>
        <p>
                {% for mission in listMission %}
                    <li>
                        <a href="{{ path('mission_view', {'missionId': mission.id}) }}">{{ mission.title }}</a>
                        -
                        <a href="{{ path('mission_teams_selection', {'missionId': mission.id}) }}">{{ 'mission.all_missions.start'|trans }}</a>
                        -
                        <a href="{{ path('mission_delete', {'missionId': mission.id}) }}">{{ 'mission.all_missions.delete'|trans }}</a>
                    </li>
                {% endfor %}
        </p>
    </body>
</html>
