{% trans_default_domain "MissionBundle" %}

<h2>{{ 'mission.edit.title'|trans }}</h2>

{{ include("MissionBundle:Mission:new.html.twig") }}

<form action="{{ path('mission_edit', {'id': mission.id}) }}" method="post">
  {{ form(form) }}
</form>


<p>
  {{ 'mission.edit.warning'|trans }}
</p>

<p>
  <a href="{{ path('mission_view', {'missionId': mission.id}) }}">
      {{ 'mission.edit.cancel'|trans }}
  </a>
</p>
