{% extends '::lang.html.twig' %}
{% trans_default_domain "MissionBundle" %}

{% block stylesheets %}
    {% stylesheets '@chosen_css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<h3> {{ 'mission.new.title'|trans }}</h3>
<form method="post" {{ form_enctype(form) }}>


  {{ form_start(form) }}
    <div>
    {{ form_errors(form.title) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    </div>
    <div>
    {{ form_errors(form.resume) }}
    {{ form_label(form.resume) }}
    {{ form_widget(form.resume) }}
    </div>
    <br>
    <div>
    {{ form_errors(form.address.street) }}
    {{ form_label(form.address.street) }}
    {{ form_widget(form.address.street) }}
    </div>
    <div>
    {{ form_errors(form.address.street2) }}
    {{ form_label(form.address.street2) }}
    {{ form_widget(form.address.street2) }}
    </div>
    <div>
    {{ form_errors(form.address.city) }}
    {{ form_label(form.address.city) }}
    {{ form_widget(form.address.city) }}
    </div>
    <div>
    {{ form_errors(form.address.zipcode) }}
    {{ form_label(form.address.zipcode) }}
    {{ form_widget(form.address.zipcode) }}
    </div>
    <div>
    {{ form_errors(form.address.country) }}
    {{ form_label(form.address.country) }}
    {{ form_widget(form.address.country) }}
    </div>
    <div>
    {{ form_errors(form.address.state) }}
    {{ form_label(form.address.state) }}
    {{ form_widget(form.address.state) }}
    </div>
    <div>
    <br>
    {{ form_row(form.languages) }}
    <div>
    <br>
    {{ form_errors(form.confidentiality) }}
    {{ form_label(form.confidentiality) }}
    {{ form_widget(form.confidentiality) }}
    </div>
    <div>
    {{ form_errors(form.telecommuting) }}
    {{ form_label(form.telecommuting) }}
    {{ form_widget(form.telecommuting) }}
    </div>
    <div>
    {{ form_errors(form.international) }}
    {{ form_label(form.international) }}
    {{ form_widget(form.international) }}
    </div>
    <div>
    {{ form_errors(form.budget) }}
    {{ form_label(form.budget) }}
    {{ form_widget(form.budget) }}
    </div>
    <div>
    {{ form_errors(form.missionBeginning) }}
    {{ form_label(form.missionBeginning) }}
    {{ form_widget(form.missionBeginning) }}
    </div>
    <div>
    {{ form_errors(form.missionEnding) }}
    {{ form_label(form.missionEnding) }}
    {{ form_widget(form.missionEnding) }}
    </div>
    <div>
    {{ form_errors(form.applicationEnding) }}
    {{ form_label(form.applicationEnding) }}
    {{ form_widget(form.applicationEnding) }}
    </div>
    <div>
    {{ form_errors(form.professionalExpertise) }}
    {{ form_label(form.professionalExpertise) }}
    {{ form_widget(form.professionalExpertise) }}
    </div>
    <div>
    {{ form_errors(form.missionKinds) }}
    {{ form_label(form.missionKinds) }}
    {{ form_widget(form.missionKinds) }}
    </div>
    <div>
    {{ form_errors(form.businessPractice) }}
    {{ form_label(form.businessPractice) }}
    {{ form_widget(form.businessPractice) }}
    </div>
    <br>
    <div>
    {{ form_errors(form.tags) }}
    {{ form_label(form.tags) }}
    {{ form_widget(form.tags) }}
    <br>
    </div>
    {{ form_row(form.save) }}
  {{ form_end(form) }}

 {% javascripts '@chosen_jquery_tag_js' '@chosen_config_tag_js' '@chosen_prism_js' '@chosen_jquery_js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

</form>
{% endblock %}
