{% trans_default_domain "MissionBundle" %}

<h3>{{ 'mission.new.title'|trans }}</h3>

<form method="post" {{ form_enctype(form) }}>
  <link rel="stylesheet" href="{{ asset('MissionBundle/css/chosen.css') }}">
  {{ form_start(form) }}
    <div>
    {{ form_errors(form.title) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    </div>
    <div>
    {{ form_errors(form.resume) }}
    {{ form_label(form.resume) }}
    {{ form_widget(form.resume) }}
    </div>
    <br>
    <div>
    {{ form_errors(form.address.street) }}
    {{ form_label(form.address.street) }}
    {{ form_widget(form.address.street) }}
    </div>
    <div>
    {{ form_errors(form.address.street2) }}
    {{ form_label(form.address.street2) }}
    {{ form_widget(form.address.street2) }}
    </div>
    <div>
    {{ form_errors(form.address.city) }}
    {{ form_label(form.address.city) }}
    {{ form_widget(form.address.city) }}
    </div>
    <div>
    {{ form_errors(form.address.zipcode) }}
    {{ form_label(form.address.zipcode) }}
    {{ form_widget(form.address.zipcode) }}
    </div>
    <div>
    {{ form_errors(form.address.country) }}
    {{ form_label(form.address.country) }}
    {{ form_widget(form.address.country) }}
    </div>
    <div>
    {{ form_errors(form.address.state) }}
    {{ form_label(form.address.state) }}
    {{ form_widget(form.address.state) }}
    </div>
    <div>
    <br>
    {{ form_row(form.languages) }}
    <div>
    <br>
    {{ form_errors(form.confidentiality) }}
    {{ form_label(form.confidentiality) }}
    {{ form_widget(form.confidentiality) }}
    </div>
    <div>
    {{ form_errors(form.telecommuting) }}
    {{ form_label(form.telecommuting) }}
    {{ form_widget(form.telecommuting) }}
    </div>
    <div>
    {{ form_errors(form.international) }}
    {{ form_label(form.international) }}
    {{ form_widget(form.international) }}
    </div>
    <div>
    {{ form_errors(form.dailyFeesMin) }}
    {{ form_label(form.dailyFeesMin) }}
    {{ form_widget(form.dailyFeesMin) }}
    </div>
    <div>
    {{ form_errors(form.dailyFeesMax) }}
    {{ form_label(form.dailyFeesMax) }}
    {{ form_widget(form.dailyFeesMax) }}
    </div>
    <div>
    {{ form_errors(form.missionBeginning) }}
    {{ form_label(form.missionBeginning) }}
    {{ form_widget(form.missionBeginning) }}
    </div>
    <div>
    {{ form_errors(form.missionEnding) }}
    {{ form_label(form.missionEnding) }}
    {{ form_widget(form.missionEnding) }}
    </div>
    <div>
    {{ form_errors(form.applicationEnding) }}
    {{ form_label(form.applicationEnding) }}
    {{ form_widget(form.applicationEnding) }}
    </div>
    <div>
    {{ form_errors(form.professionalExpertise) }}
    {{ form_label(form.professionalExpertise) }}
    {{ form_widget(form.professionalExpertise) }}
    </div>
    <div>
    {{ form_errors(form.missionKind) }}
    {{ form_label(form.missionKind) }}
    {{ form_widget(form.missionKind) }}
    </div>
    <br>
    <div>
    {{ form_errors(form.tags) }}
    {{ form_label(form.tags) }}
    {{ form_widget(form.tags) }}
    <br>
    </div>
    {{ form_row(form.save) }}
  {{ form_end(form) }}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
 <script src="{{ asset('MissionBundle/js/chosen.jquery.tag.js') }}" type="text/javascript"></script>
 <script src="{{ asset('MissionBundle/js/chosen.config.tag.js') }}" type="text/javascript"></script>
 <script src="{{ asset('MissionBundle/js/prism.js') }}" type="text/javascript" charset="utf-8"></script>
</form>
