{% trans_default_domain "MissionBundle" %}
    <p>
        {{ 'mission.pitch.title'|trans }}
    </p>
    <p>
        {% for team in listTeams %}
         <li>
             <a href="{{ path('mission_view', {'id': team.mission.id}) }}">
             {{ team.mission.title }}</a>
                - <a href="{{ path('mission_giveup', {'missionId': team.mission.id}) }}"
                > {{ 'mission.pitch.giveUp'|trans }} </a>
        </li>
        {% endfor %}
    </p>
