<!DOCTYPE html>
{% trans_default_domain "MissionBundle" %}
<html>
    <head>
    </head>
    <body>
        <h3>{{ 'mission.selection.step'|trans }} {{ step.position }}</h3>
            <form action="{{ path('mission_users_selection', {'missionId': missionId }) }}" method="post">
                {{ form_row(form.userMission) }}
                {{ form_row(form.save) }}
                {{ form_row(form.delete) }}
                <br>
                {% if step.position == 2 and step.nbMaxUser != nbUsers and step.reallocUser != 0 %}
                    <a href="{{ path('mission_selection_takeback', {'missionId': missionId}) }}">{{ 'mission.selection.takeBack'|trans }}</a><br>
                {% endif %}
            </form>
    </body>
</html>
