<!DOCTYPE html>
{% trans_default_domain "MissionBundle" %}
<html>
    <head>
    </head>
    <body>
        <h3>{{ 'mission.selection.step'|trans }} {{ step.position }}</h3>
        {{ 'mission.selection.choose'|trans }}
            <form action="{{ path('mission_teams_selection', {'missionId': missionId }) }}" method="post">
                {{ form_row(form.team) }}
                {{ form_row(form.save) }}
                {{ form_row(form.delete) }}
                <br>
                {% if step.position == 2 and step.nbMaxTeam != nbTeams and step.reallocTeam != 0 %}
                    <a href="{{ path('mission_selection_takeback', {'missionId': missionId}) }}">{{ 'mission.selection.takeBack'|trans }}</a><br>
                {% endif %}
            </form>
    </body>
</html>
