<!DOCTYPE html>
{% trans_default_domain "MissionBundle" %}
<html>
    <head>
    </head>
    <body>
        <h3>{{ 'mission.selection.step2'|trans }}</h3>
        {% if vacancies > 0 %}
            {{ 'mission.selection.pick'|trans }}
            <form action="{{ path('mission_selection_takeback', {'missionId': missionId }) }}" method="post">
                {{ form_row(form.userMission) }}
                {{ form_row(form.save) }}
            </form>
        {% else %}
            {{ 'mission.selection.takeBackError'|trans }}
        {% endif %}


    </body>
</html>
