{% trans_default_domain "MissionBundle" %}

{% block start %}
{% endblock %}

{% for oneThread in threads %}
    {% if threads[loop.index0] != null %}

        <h2>
            {{ threads[loop.index0].subject }}
        </h2>

        {% set lastMsg = null %}
        {% set i = loop.index0 %}
        {% for message in bigArrayMessage[i] %}
            <div class="messenger_threads_message">
                <div class="messenger_thread_message_info">
                    {% if step.anonymousMode == 2 and teams[i + 1].status == step.position %}
                        {{ 'message_info'|trans({'%sender%': message.sender, '%date%': message.createdAt|date}, 'FOSMessageBundle') }}
                    {% else %}
                        {% if message.sender.roles[0] == "ROLE_CONTRACTOR" %}
                            {{ 'message_info'|trans({'%sender%': 'Contractor', '%date%': message.createdAt|date}, 'FOSMessageBundle') }}
                        {% else %}
                            {{ 'message_info'|trans({'%sender%': arrayTeamName[i], '%date%': message.createdAt|date}, 'FOSMessageBundle') }}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                    {{ message.body }}
                </div>
            </div>
            {% set lastMsg = message %}
        {% endfor %}

        {% set sender = lastMsg.getSender() %}
        {% if sender.email == user.email %}
            {% if arrayRead[i] == true %}
                {{ 'message.readReport.read'|trans({}, 'InboxBundle') }}
            {% else %}
                {{ 'message.readReport.receive'|trans({}, 'Inboxbundle') }}
            {% endif %}
        {% endif %}

        {% if teams[loop.index0 + 1].status == step.position %}
            <h3>
                {% trans from 'FOSMessageBundle' %}reply{% endtrans %}
            </h3>

            <form action="{{ url('mission_view', {'missionId': mission.id}) }}" method="post">
                {{ form_row(arrayReplyForm.threads[loop.index0].reply) }}
                {{ form_row(arrayReplyForm.threads[loop.index0].submit) }}
            </form>
        {% endif %}

    {% endif %}
{% endfor %}

{% block end %}
{% endblock %}
