{% trans_default_domain "MissionBundle" %}

{% extends 'MissionBundle:Mission:view_thread_seeker.html.twig' %}
{% block start %}
<html>
<body>
<h2>{{ mission.title }} </h2>
{% if mission.image is not null %}
  <img src="{{ mission.image }}">
{% endif %}

<div class="well">
  <p>
  <h4><br>{{ 'mission.view.resume'|trans }} :</h4>
    {{ mission.resume }}

  <h5>{{ 'mission.view.details'|trans }} :</h5>
    {{ mission.professionalExpertise.name|trans }}
    {% for missionKind in mission.missionKinds %}
        {{ missionKind.name | trans }}
    {% endfor %}
  </p>
  <p>
  <h4><br>{{ 'mission.view.address'|trans }} :</h4>
    {{ mission.address.street }},
    {% if mission.address.state is not null %}
        {{ mission.address.street2 }},<br>
    {% endif %}
    {{ mission.address.city }},{{ mission.address.zipcode }}
  <br>{{ mission.address.country }}
    {% if mission.address.state is not null %}
      ,{{ mission.address.state }}<br>
    {% endif %}
  </p>
  <p>
      {% if mission.address.label is not null %}
          {{ 'mission.view.label'|trans }} : {{ mission.address.state }}<br>
      {% endif %}
  </p>
  <p>
      {% if mission.address.name is not null %}
          {{ 'mission.view.name'|trans }}: {{ mission.address.name }}<br>
      {% endif %}
  </p>
  <p>
  <h4><br>{{ 'mission.view.budget'|trans }} :</h4>
    {{ mission.budget }} {{ 'mission.view.budget'|trans }}
  </p>
  <p>
      {{ 'mission.view.applicationEnding'|trans({'%date%': mission.applicationEnding|date('m/d/Y')}) }}<br>
      {{ 'mission.view.period'|trans({'%start%': mission.missionBeginning|date('m/d/Y'),
          '%end%': mission.missionEnding|date('d/m/Y') }) }}<br>
  </p>

    {% if mission.languages is not null %}
      <h4><br>{{ 'mission.view.languages'|trans }}:</h4>
      <ul>
          {% for language in mission.languages %}
            <li>{{ language.name|trans({}, 'tools') }}</li>
          {% endfor %}
      </ul>
    {% endif %}
  <p>
      {% if mission.confidentiality == 1 %}
          {{ 'mission.view.confidential'|trans }}
      {% endif %}
      {% if mission.telecommuting == 1 %}
          {{ 'mission.view.telecommuting'|trans }}
      {% endif %}
      {% if mission.international == 1 %}
          {{ 'mission.view.international'|trans }}
      {% endif %}
  </p>

  <p>
      {% endblock %}
      {% block chatbox %}
      {% endblock %}
      {% block end %}
  </p>
</div>
</body>
</html>
{% endblock %}
