{% extends '::base.html.twig' %}

{% form_theme form _self %}
{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw }}</button>
{%- endblock button_widget -%}

{% block tetranz_select2entity_widget_select_option %}
    <option value="{{ id }}" selected="selected">
        {{ label | trans({}, 'tools') }}
    </option>
{% endblock %}

{% trans_default_domain "tools" %}

{% block body %}
    {{ form_start(form, { 'attr' : { 'class' : 'wmw-onboard wmw-onboard--pitch col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3'}}) }}

        <div class="wmw-onboard-body">

            <h1>
                {{ 'mission.new.step_three.title' | trans }}
                <small>{{ 'mission.new.step_three.subtitle' | trans }}</small>
            </h1>

            <div class="wmw-pitch-finder">

                <div class="wmw-onboard-domains row">
                    <div class="wmw-onboard-domains-col col-xs-12 col-sm-6">
                        {% for key, val in form.missionKinds %}
                            {% if loop.index0 == 1 %}
                                <div class="wmw-onboard-domains-title">{{ 'mission.new.step_three.si_consult' | trans }}</div>
                                    <div class="wmw-onboard-domains-subs">
                            {% elseif loop.index0 == 8 %}
                                    </div>
                                <div class="wmw-onboard-domains-title">{{ 'mission.new.step_three.organisation_consult' | trans }}</div>
                                    <div class="wmw-onboard-domains-subs">
                            {% elseif loop.index0 == 12 %}
                                    </div>
                            {% endif %}

                            <div class="wmw-switchfield wmw-switchfield--small">
                                {{ form_widget(val, { 'attr' : { 'class' : 'requiredgroup:domains vv-ggparent' }}) }}
                                <label for="{{ val.vars.id }}">{{ val.vars.label  |trans }}</label>
                            </div>

                            {% if loop.index == 12 %}
                                </div>
                            {% endif %}
                        {% endfor %}
                </div>
                {{ form_errors(form.missionKinds) }}

                <div class="wmw-fieldrow row">
                    <label for="{{ form.certifications.vars.name }}" class="wmw-label wmw-label--topmobile col-xs-10 col-sm-5">{{ 'mission.new.label.step_three.certif' | trans | raw }}</label>
                    <div class="col-xs-12 col-sm-7">
                        {{ form_widget(form.certifications, { 'attr' : { 'class' : 'col-xs-10 col-md-6' }}) }}
                    </div>
                </div>
                {{ form_errors(form.certifications) }}

                <div class="wmw-fieldrow row">
                    <label for="{{ form.languages.vars.name }}" class="wmw-label wmw-label--topmobile col-xs-10 col-sm-5">{{ 'mission.new.label.step_three.lang' | trans }}</label>
                    <div class="col-xs-12 col-sm-7">
                        {{ form_widget(form.languages, { 'attr' : { 'class' : 'col-xs-10 col-md-6' }}) }}
                    </div>
                </div>
                {{ form_errors(form.languages) }}

                <div class="wmw-fieldrow row">
                    <label for="{{ form.workExperience.vars.id }}" class="wmw-label wmw-label--topmobile col-xs-10 col-sm-5">{{ 'workexperience.title' | trans }}</label>
                    {{ form_row(form.workExperience, { 'attr' : { 'class' : 'col-xs-10 col-md-6 required'}}) }}
                </div>
                {{ form_errors(form.workExperience) }}

            </div>

            <div class="wmw-onboard-price">
                <label class="wmw-label wmw-label--top">{{ 'mission.new.label.range' | trans }}</label>
                <div class="wmw-onboard-price-inner">
                    <div class="wmw-onboard-price-input">
                        <input type="text" id="wmw-pitch-price" value="{{ form.price.vars.value }}" readonly />
                        {{ 'mission.view.price_day' | trans | raw }}
                    <div class="wmw-range-gradient">
                        {{ form_widget(form.price, { 'attr' : { 'mis' : 100 , 'max' : 1000 , 'type' : 'range'}}) }}
                    </div>
                    <div class="wmw-onboard-price-number">
                        {{ 'mission.view.receive_the_pitch' | trans({ '%nb': 'X'}) | raw }}
                    </div>
                </div>
            </div>
                {{ form_errors(form.price) }}

            <div class="wmw-progressbar">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
            </div>

        </div>

        <div class="wmw-onboard-bottom">
            {% set late = '<i></i><span>' ~ form.forLater.vars.label | trans  ~ '</span><i></i>' %}
            {{ form_widget(form.forLater, {attr: {formnovalidate: 'formnovalidate',
                class: 'wmw-button wmw-button--black wmw-button--border wmw-onboard-bottom-left wmw-button-later'}, label: late }) }}

            {% set back = '<i></i><span>' ~ form.back.vars.label | trans ~ '</span><i></i>' %}
            {{ form_widget(form.back, {attr: {formnovalidate: 'formnovalidate', class : 'wmw-button wmw-button--border'}, label: back}) }}

            {% set next = '<i></i><span>' ~ form.next.vars.label | trans ~ '</span><i></i>' %}
            {{ form_widget(form.next, { 'attr' : { 'class' : 'wmw-button wmw-button--green' }, label: next}) }}
        </div>

    {{ form_end(form) }}

    <div class="wmw-onboard-text col-md-2">
        {{ 'mission.new.step_three.hint' | trans | raw }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@TetranzSelect2EntityBundle/Resources/public/js/select2entity.js' %}
    <link href="{{ asset('js/select2/css/select2.css') }}" rel="stylesheet"/>
    <script src="{{ asset('js/select2/js/select2.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    {% endjavascripts %}

     <script type="text/javascript">
         $(document).ready(function () {

             $("#step_three_form_price").change(function() {
                 $.ajax({
                        url: "{{path("mission_count_match", {'missionId': mission.id})}}",
                        type: 'post',
                        dataType: 'json',
                        data: $("form[name='step_three_form']").serialize(),
                        success: function(data) {
                            $("#count-match").text(data['matches']);
                        },
                });
             });
         });
     </script>
{% endblock %}
