{% extends '::base.html.twig' %}

{% form_theme form _self %}
{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw }}</button>
{%- endblock button_widget -%}

{% trans_default_domain "tools" %}

{% block body %}

    {{ form_start(form, { 'attr' : { 'class' : 'wmw-onboard wmw-onboard--pitch col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3' }} ) }}
        {% set edit = '<i></i><span>' ~ 'form.btn.edit'| trans ~ '</span><i></i>' %}
        <div class="wmw-onboard-body">

            <h1>
                {{ 'mission.new.step_four.title' | trans }}
                <small>{{ 'mission.new.step_four.subtitle' | trans }}</small>
            </h1>

            {{ form_errors(form) }}

            <div class="wmw-onboard-resume row">
                <div class="wmw-onboard-resume-sidebar col-xs-12 col-md-4">

                    <div class="sidebar-block">
                        <div class="sidebar-block-business">

                            <i class="icon icon--business-{{ arrayImg[mission.businessPractice.name] }}"></i>{{ mission.businessPractice.name | trans }}
                        </div>
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--calendar"></i>{{ 'mission.new.label.step_four.professional_expertise' | trans }}
                            </div>
                            <div class="value">{% if mission.professionalExpertise %}{{ mission.professionalExpertise.name | trans }}{% endif %}</div>
                        </div>
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--calendar"></i> {{ 'mission.new.label.step_four.end_pitch' | trans }}
                            </div>
                            <div class="value">{{ mission.applicationEnding|date("m/d/Y") }}</div>
                        </div>
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--calendar"></i> {{ 'mission.new.label.step_four.start_mission' | trans }}
                            </div>
                            <div class="value">
                                {{ 'mission.new.label.step_four.date_range' | trans({'%startDate' : mission.missionBeginning | date("m/d/Y"),'%endDate'   : mission.missionEnding | date("m/d/Y") }) }}
                            </div>
                        </div>
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--budget"></i> {{ 'mission.new.label.step_four.budget' | trans }}
                            </div>
                            <div class="value"> {{ mission.budget | currency_convert_format(mission.currency.code, false, true, 'USD') }} </div>
                        </div>
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--world"></i>
                                {% if mission.telecommuting %}
                                    {{ 'mission.new.label.step_four.on_site' | trans }}
                                {% else %}
                                    {{ 'mission.new.label.step_four.not_on_site' | trans }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--locker"></i>
                                {% if mission.confidentiality %}
                                    {{ 'mission.new.label.step_four.confidential' | trans }}
                                {% else %}
                                    {{ 'mission.new.label.step_four.not_confidential' | trans }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {{ form_widget(form.edit_1, { 'attr' : {'class' : 'wmw-button wmw-button--border wmw-button--green wmw-button--small'}, label : edit}) }}

                    <div class="sidebar-block">
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--typology"></i> {{ 'mission.new.label.step_four.mission_kind' | trans }}
                            </div>
                            <div class="value">
                                <ul>
                                    {% for missionKind in mission.missionKinds %}
                                        <li>{{ missionKind.name | trans }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-block">
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--language"></i> {{ 'mission.new.label.step_four.languages' | trans }}
                            </div>
                            <div class="value">
                                {% for languages in mission.languages %}
                                    <li>{{ languages.name | trans({}, 'tools') }}</li>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--certification"></i> {{ 'mission.new.label.step_four.certif' | trans | raw }}
                            </div>
                            <div class="value">
                                {% for certification in mission.certifications %}
                                    <li>{{ certification.name }}</li>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-block">
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--price"></i> {{ 'mission.new.label.step_four.price' | trans }}
                            </div>
                            <div class="value">{{ mission.price | currency_convert_format(mission.currency.code, false, true, 'USD') }}{{ 'mission.new.label.step_four.price_day' | trans }}</div>
                        </div>
                        <div class="sidebar-block-el">
                            <div class="title">
                                <i class="icon icon--certification"></i> {{ 'mission.new.label.step_four.concerned' | trans }}
                            </div>
                            <div class="value">{{ nbAdvisors }}</div>
                        </div>
                    </div>

                    {{ form_widget(form.edit_2, { 'attr' : {'class' : 'wmw-button wmw-button--border wmw-button--green wmw-button--small'}, label : edit}) }}

                </div>

                <div class="wmw-onboard-resume-content col-xs-12 col-md-8">
                    {{ form_row(form.edit, { 'attr' : { 'class' : 'wmw-button wmw-button--border wmw-button--green wmw-button--small' }, labell : edit }) }}
                    <h2>{{ mission.title.title | trans }}</h2>
                    {{ mission.resume | nl2br }}
                </div>

            </div>

            <div class="wmw-progressbar">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
            </div>

        </div>

        <div class="wmw-onboard-bottom">
            {% set forLater = '<i></i><span>' ~ form.forLater.vars.label | trans ~ '</span><i></i>' %}
            {{ form_widget(form.forLater, {attr: { formnovalidate: 'formnovalidate',class : 'wmw-button wmw-button--black wmw-button--border wmw-button-later'}, label: forLater}) }}

            <button onclick="window.print()" type="button"
                    class="wmw-button wmw-button--black wmw-button--border wmw-onboard-bottom-left">
                <i></i><span>{{ 'form.btn.print' | trans }}</span><i></i></button>
            <br/>

            {% set next = '<i></i><span>' ~ form.next.vars.label | trans ~ '</span><i></i>' %}
            {% set confirm = 'legends.confirmation.work_experience' | trans %}
            {{ form_widget(form.next, { label : next }) }}
        </div>

    {{ form_end(form) }}

    <div class="wmw-onboard-text col-md-2">
        {{ 'mission.new.step_four.hint' | trans | raw }}
    </div>

{% endblock %}

