{% extends '::base.html.twig' %}

{% form_theme form "form_themes.html.twig" %}

{% trans_default_domain "tools" %}

{% block body %}

    {{ form_start(form, { 'attr' : { 'class' : 'wmw-onboard wmw-onboard--pitch col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3'}}) }}

        <div class="wmw-onboard-body">

            <h1>
                {{ 'mission.new.step_five.title' | trans }}
                <small>{{ 'mission.new.step_five.subtitle' | trans }}</small>
            </h1>

            {{ form_errors(form) }}

            <p class="wmw-onboard-mentions">
                {{ 'mission.view.step_five.introduction' | trans | raw }}
            </p>

            <p class="wmw-onboard-paragraph">
                {{ form_label(form.lastName)}}
                {{ form_widget(form.lastName)}}
                {{ form_errors(form.firstName) }}
                {{ form_widget(form.firstName)}}
                {{ form_errors(form.lastName) }}
                {{ 'mission.view.step_five.company' | trans({'%company': user.company}) | raw}}
            </p>

            <div class="wmw-onboard-blocks row">
                <div class="wmw-onboard-blocks-el col-xs-12 col-md-6">
                    <label for="{{ form.share.vars.id }}">{{ 'mission.new.form.share' | trans }}</label>
                    <div class="wmw-switchfield">
                        {{ form_widget(form.share, { 'attr' : {class : 'required vv-gparent'}}) }}
                        <label for="{{ form.share.vars.id }}"></label>
                    </div>
                </div>
                <div class="wmw-onboard-blocks-el col-xs-12 col-md-6">
                    <label for="{{ form.reference.vars.id }}">{{ 'mission.new.form.reference' | trans }}</label>
                    <div class="wmw-switchfield">
                        {{ form_widget(form.reference, { 'attr' : {class : 'required vv-gparent'}}) }}
                        <label for="{{ form.reference.vars.id }}"></label>
                    </div>
                </div>
            </div>

            <p class="wmw-onboard-paragraph">
                {{ 'mission.view.step_five.cac' | trans }}
            </p>

            <div class="wmw-copyfields">
                <div class="wmw-copyfield wmw-copyfield--autocomplete row">
                    {{ form_widget(form.inspectors, { 'attr' : { 'class' : 'wmw-autocomplete col-xs-10 col-md-5 required'}}) }}
                </div>
            </div>
            {{ form_errors(form.inspectors) }}
            <p class="wmw-onboard-mentions">
                {{ 'mission.view.step_five.ending' | trans | raw }}
            </p>

            <div class="wmw-progressbar">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
            </div>

        </div>

        <div class="wmw-onboard-bottom">

            {% set back = '<i></i><span>' ~ form.back.vars.label | trans ~ '</span><i></i>' %}
            {{ form_widget(form.back, {attr: { formnovalidate: 'formnovalidate',
                class: 'wmw-button wmw-button--border wmw-button-later'}, label: back }) }}

            {% set share = '<i></i><span>' ~ form.sharePitch.vars.label | trans ~ '</span><i></i>' %}
            {{ form_widget(form.sharePitch, { 'attr' : { class : 'wmw-button wmw-button--green'}, label: share}) }}
        </div>

    {{ form_end(form) }}

    <div class="wmw-onboard-text col-md-2">
        {{ 'mission.new.step_five.hint' | trans | raw }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@TetranzSelect2EntityBundle/Resources/public/js/select2entity.js' %}
    <link href="{{ asset('js/select2/css/select2.css') }}" rel="stylesheet"/>
    <script src="{{ asset('js/select2/js/select2.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    {% endjavascripts %}
{% endblock %}