{% extends "::base.html.twig" %}

{% form_theme formPassword "form_themes.html.twig" %}

{% trans_default_domain 'tools' %}

{% block body %}

    {% set roleAdvisor = (user.roles[0] == 'ROLE_ADVISOR') %}
    {% set company = user.company %}

    <div class="wmw-dashboard col-xs-10 col-xs-offset-1 row">

        <div class="wmw-dashboard-sidebar col-xs-12 col-lg-2">
            {% if roleAdvisor == true %}
                {% set ringLevel = 50 %}
                {% if user.images is not empty %}
                    {% set ringLevel = ringLevel + 25 %}
                {% endif %}
                {% if user.linkedinId is not null %}
                    {% set ringLevel = ringLevel + 25 %}
                {% endif %}
                <div class="sidebar-progress sidebar-progress--{% if ringLevel == 50 %}1{% elseif ringLevel == 75 %}2{% else %}3{% endif %}">
                    {{ 'side_bar.profile' | trans | capitalize | nl2br }}
                    {{ ringLevel }}%
                </div>
            {% else %}
                <div class="sidebar-progress">
                    <a href="{{ path('mission_new_step_one') }}" class="sidebar-progress-button">
                        <i class="icon icon--document-more"></i><br />
                        {{ 'dashboard.contractor.new.button' | trans | upper }}
                    </a>
                </div>
            {% endif %}

            <div class="sidebar-notifications">
                <label for="wmw-profile-notifications">
                    <i class="icon icon--bell"></i>
                    {{ 'side_bar.email_notification' | trans | upper | nl2br }}
                </label>
                <div class="wmw-switchfield wmw-switchfield--small">
                    <input type="checkbox" id="wmw-profile-notifications" {% if user.notification %}checked{% endif %}
                           onclick="switchNotification()"/>
                    <label for="wmw-profile-notifications"></label>
                </div>
            </div>

            <div class="sidebar-text">
                <strong>{{ 'dashboard.advisor.fyi.title' | trans | upper }}</strong>
                {{ 'dashboard.advisor.fyi.text' | trans | upper }}
            </div>
        </div>

        {% include "UserBundle:Security:edit_password_content.html.twig" %}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@TetranzSelect2EntityBundle/Resources/public/js/select2entity.js' %}
    <link href="{{ asset('js/select2/css/select2.css') }}" rel="stylesheet"/>
    <script src="{{ asset('js/select2/js/select2.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        function switchNotification() {
            $.ajax({
                url: "{{ path('user_switch_notification') }}",
                method: "put"
            });
        }

        $(document).ready(function () {

            $("#showPassword").click(function () {
                $('#password').attr('type', 'text');
                $('#fos_user_change_password_current_password').attr('type', 'text');
                $('#fos_user_change_password_plainPassword_second').attr('type', 'text');
                setTimeout(function () {
                    $('#password').attr('type', 'password');
                    $('#fos_user_change_password_current_password').attr('type', 'password');
                    $('#fos_user_change_password_plainPassword_second').attr('type', 'password');
                }, 500);
            });

            $('#password').attr('type', 'password');
            $('#fos_user_change_password_current_password').attr('type', 'password');
            $('#fos_user_change_password_plainPassword_second').attr('type', 'password');
        });

    </script>
{% endblock %}
