{% trans_default_domain 'tools' %}

{% set save = '<i></i><span>' ~ 'form.btn.save' | trans ~ '</span><i></i>' %}
{% set savePass = '<i></i><span>' ~ 'form.btn.update_password' | trans ~ '</span><i></i>' %}

<div class="wmw-dashboard-main col-xs-12 col-lg-10">
    <div class="wmw-profile">
        <div class="wmw-profile-header">

            {# profile picture #}
            <div class="wmw-profile-header-picture">
                {% if user.images is not empty %}
                    {% set image = user.images|last %}
                    {% if image.name is not null %}
                        <img src="{{ asset(image.webPath()) }}"/>
                    {% endif %}
                {% else %}
                    <img src="{{ asset('images/' ~ random(['placeholder-pp-0.png', 'placeholder-pp-1.png', 'placeholder-pp-2.png', 'placeholder-pp-3.png'])) }}"/>
                {% endif %}
            </div>

            {# head profile#}
            <div class="wmw-profile-header-name">{{ user.lastName | upper }}<br/>{{ user.firstName }}</div>

            <div class="wmw-profile-header-button">
                <a href="{{ path('user_profile_show') }}">
                    <button type="button" class="wmw-button wmw-button--small wmw-button--border">
                        <i></i><span><i class="icon icon--pen"></i>
                            {{ 'user.profile_show.advisor.link_show_profile' | trans | upper }}
                            </span><i></i>
                    </button>
                </a>
            </div>

            <a href="{{ path('dashboard') }}" class="wmw-profile-close"><i class="icon icon--cross"></i>
                {{ 'user.profile_show.advisor.link_back_to_board' | trans }}
            </a>
        </div>

        {# links #}
        <div class="wmw-profile-tabs row">
            <a href="{{ path('user_profile_show') }}">
                {{ 'user.profile_show.advisor.link_general' | trans }}
            </a>
            <a href="{{ path('user_profile_password') }}" class="active">
                {{ 'user.profile_show.advisor.link_password' | trans }}
            </a>
        </div>

        <div class="wmw-profile-content">
            <div class="row">

                <div class="col-xs-14 col-sm-6 row">
                    <div class="span12">
                        </br>
                    </div>
                    {{ form_start(formPassword) }}
                    <div class="wmw-bgfield wmw-bgfield--persistent">
                        {{ form_widget(formPassword.current_password, { 'attr' : { placeholder : 'form.password.old' | trans }}) }}
                        <div class="wmw-bgfield-bg"><i class="icon icon--locker"></i></div>
                        {{ form_errors(formPassword.current_password) }}
                    </div>
                    <div class="wmw-bgfield wmw-bgfield--persistent">
                        {{ form_widget(formPassword.plainPassword.first, { 'attr' : { placeholder : 'form.password.new' | trans }}) }}
                        <div class="wmw-bgfield-bg"><i class="icon icon--locker"></i></div>
                        {{ form_errors(formPassword.plainPassword.first) }}
                    </div>
                    <div class="wmw-bgfield wmw-bgfield--persistent">
                        {{ form_widget(formPassword.plainPassword.second, { 'attr' : { placeholder : 'form.password.repeat' | trans }}) }}
                        <div class="wmw-bgfield-bg"><i class="icon icon--locker"></i></div>
                        {{ form_errors(formPassword.plainPassword.second) }}
                    </div>
                    <div >

                    {{ form_row(formPassword.submit, { attr : { class : "wmw-button" }, label : savePass }) }}
                    </div>
                </div>
                {{ form_end(formPassword) }}

            </div>
        </div>
    </div>
</div>
