{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path("fos_user_security_check") }}"
      method="post"
      class="wmw-onboard col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="wmw-onboard-body">

        <h1>{{ 'layout.login' | trans }}</h1>

        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'linkedin' }) }}">
            <button type="button" class="wmw-button wmw-button--green wmw-button--full">
                <i></i><span>{{ 'security.login.linkedin' | trans }}</span><i></i>
            </button>
        </a>

        <div class="wmw-onboard-or">{{ 'registration.advisor.zero.or' | trans({}, 'tools') | upper }}</div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <div class="wmw-fieldrow row">
            <input type="email" id="username" name="_username" class="required col-xs-7" value="{{ last_username }}"/>
            <label class="wmw-label wmw-label--right col-xs-5"
                   for="username">{{ 'security.login.email'|trans }}</label>
        </div>

        <div class="wmw-fieldrow row">
            <input type="password" id="password" name="_password" class="required col-xs-7"/>
            <label class="wmw-label wmw-label--right col-xs-5"
                   for="password">{{ 'security.login.password'|trans }}</label>
        </div>

        <div class="wmw-fieldrow row">

            <div class="wmw-switchfield">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
        </div>

        <div class="wmw-onboard-bottom">
            <button type="submit" id="_submit" name="_submit"
                    class="wmw-button wmw-button--green wmw-button--border">
                <i></i><span>{{ 'layout.login' | trans }}</span><i></i></button>

            <a href="{{ path('fos_user_resetting_request') }}">
                <button type="button" class="wmw-button">
                    <i></i><span>{{ 'security.login.reset' | trans }}</span><i></i>
                </button>
            </a>

        </div>

    </div>
</form>