{% trans_default_domain 'tools' %}
{% set userWorkExperience = form %}
<div class="wmw-overlay-inner col-xs-10 col-md-6 col-xl-4">
    <div class="wmw-overlay-title">__name__label__</div>
    <div class="wmw-overlay-content">
        <div class="row">

            {% for key, companySize in userWorkExperience.companySizes %}
                <div class="col-xs-4">
                    <label for="{{ companySize.vars.id }}">
                        {% set help = companySize.vars.label | split('.') %}
                        <i class="icon icon--company-{{ help[1] }}">
                        </i><br/>
                        {{ form_label(companySize) }}

                        {% if key == 1 %}
                            <a href="#" class="wmw-tip wmw-tip--left">?<span class="wmw-tip-box">
                                    {{ 'mission.new.label.step_four.hint_company_small' | trans }}
                                </span></a>
                        {% elseif key == 2 %}
                            <a href="#" class="wmw-tip wmw-tip--center">?<span class="wmw-tip-box">
                                    {{ 'mission.new.label.step_four.hint_company_medium' | trans }}
                                </span></a>
                        {% else %}
                            <a href="#" class="wmw-tip wmw-tip--right">?<span class="wmw-tip-box">
                                    {{ 'mission.new.label.step_four.hint_company_large' | trans }}
                                </span></a>
                        {% endif %}
                    </label>
                    <div class="wmw-switchfield">
                        {{ form_widget(companySize, {'attr' : {'class' : "requiredgroup:company-size vv-ggparent"}}) }}
                        <label for="{{ companySize.vars.id }}"></label>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for continent in userWorkExperience.continents %}
                <div class="col-xs-3">

                    <label for="{{ continent.vars.id }}">
                        {{ form_label(continent) }}
                        <a href="#" class="wmw-tip">
                            ?
                            <span class="wmw-tip-box">
                                {{ 'mission.new.label.step_four.hint_continent' | trans }}
                            </span>
                        </a>
                    </label>

                    <div class="wmw-switchfield">
                        {{ form_widget(continent, {'attr' : {'class' : "requiredgroup:company-region vv-ggparent"}}) }}
                        <label for="{{ continent.vars.id }}"></label>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <label for="{{ userWorkExperience.cumuledMonth.vars.id }}">
                {{ form_label(userWorkExperience.cumuledMonth) }}
            </label>
            <div class="wmw-rangefield">
                {{ form_widget(userWorkExperience.cumuledMonth) }}
                <div class="wmw-rangefield-value"><span>12</span> {{ 'form.work_experience.months' | trans }}</div>
            </div>
        </div>
        <div>
            <label for="{{ userWorkExperience.dailyFees.vars.id }}">
                {{ form_label(userWorkExperience.dailyFees) }}
            </label>
            <div class="wmw-rangefield">
                {{ form_widget(userWorkExperience.dailyFees) }}
                <div class="wmw-rangefield-value"><span>1000</span></div>
            </div>
        </div>
        <div>
            <label for="{{ userWorkExperience.currency.vars.id }}">
                {{ form_label(userWorkExperience.currency) }}
            </label>
            <div>
                {{ form_widget(userWorkExperience.currency) }}
            </div>
        </div>
        <div>
            <label for="{{ userWorkExperience.peremption.vars.id }}">
                {{ form_label(userWorkExperience.peremption) }}
            </label>
            <div class="wmw-switchfield">
                {{ form_widget(userWorkExperience.peremption) }}
                <label for="{{ userWorkExperience.peremption.vars.id }}"><span>{{ 'no' | trans }}</span><span>{{ 'form.btn.yes' | trans }}</span></label>
            </div>
        </div>
    </div>
</div><br />
<div class="wmw-overlay-buttons">
    <button type="button" class="wmw-overlay-close wmw-button wmw-button--border"><i></i><span>{{ 'form.btn.cancel' | trans }}</span><i></i></button>
    <button type="submit" class="wmw-button wmw-button--green"><i></i><span>{{ 'form.btn.confirm' | trans }}</span><i></i></button>
</div>
