{% extends "UserBundle::layout.html.twig" %}

{% form_theme form "form_themes.html.twig" %}

{% trans_default_domain "tools" %}

{% block body %}

    {{ form_start(form, {'attr': {'class': 'wmw-onboard col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4'}}) }}

    <div class="wmw-onboard-body">

        <h1>
            {{ 'registration.advisor.two.title' | trans }}
            <small>{{ 'registration.advisor.two.subtitle' | trans }}</small>
        </h1>

        {{ form_errors(form.professionalExpertise) }}
        <div class="wmw-onboard-switches">
            {% for key, professionalExpertise in form.professionalExpertise %}
                <div class="wmw-onboard-switches-el">
                    <label for="{{ professionalExpertise.vars.id }}">{{ form_label(professionalExpertise) }}</label>
                    <div class="wmw-switchfield">
                        {{ form_widget(professionalExpertise, {'attr' : {'class': 'requiredgroup:wmw-ob-missions vv-ggparent'}}) }}
                        <label for="{{ professionalExpertise.vars.id }}"><span>No</span><span>Yes</span></label>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="wmw-progressbar">
            <span class="active"></span>
            <span class="active"></span>
            <span class="active"></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="wmw-onboard-bottom">
        <a href="{{ path('expert_registration_step_one') }}" class="wmw-button wmw-button--border">
            <i></i><span>
                {{ 'form.btn.back' | trans }}
            </span><i></i>
        </a>
        {% set next = '<i></i><span>' ~ 'form.btn.next' | trans ~ '</span><i></i>' %}
        {{ form_widget(form.submit, {'attr': {'class': 'wmw-button wmw-button--green'}, 'label': next }) }}
    </div>

    {{ form_end(form) }}

    <div class="wmw-onboard-text col-md-3 col-xl-2">
        <p>
            {{ 'registration.advisor.two.howtotitle' | trans | upper }}
        </p>
        <p>
            {{ 'registration.advisor.two.howtotext' | trans }}
        </p>
    </div>

{% endblock %}
