{% extends "UserBundle::layout.html.twig" %}

{% set address = form.user.addresses | last %}{% form_theme form _self %}
{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw }}</button>
{%- endblock button_widget -%}

{% block tetranz_select2entity_widget_select_option %}
    <option value="{{ id }}" selected="selected">
        {{ label | trans({}, 'tools') }}
    </option>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    {% javascripts '@TetranzSelect2EntityBundle/Resources/public/js/select2entity.js' %}
   <link href="{{ asset('js/select2/css/select2.css') }}" rel="stylesheet"/>
   <script src="{{ asset('js/select2/js/select2.js') }}"></script>
   <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    {% endjavascripts %}

   {#<script src="{{asset('js/select2/js/select2.min.js')}}"></script>#}
   <script type="text/javascript">
       //   $('#merged_form_registration_user_languages').select2();
       // NOTE : Select2 non compatible avec le CSS actuel
   </script>
{% endblock %}
{% block stylesheets %}
    {{parent()}}
   <link rel="stylesheet" href="{{asset('js/select2/css/select2.min.css')}}" />
{% endblock %}
{% block fos_user_content %}
    {% include "UserBundle:Registration:register_content_expert.html.twig" %}
{% endblock fos_user_content %}
