{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register_expert'), 'attr': {'class': 'fos_user_registration_register_expert'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    <div>
      <a href="{{ path('hwi_oauth_service_redirect', {'service': 'linkedin' }) }}">{{ 'social.sign_in_linkedin'|trans }}</a> <br />
      <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">{{ 'social.sign_in_google'|trans }}</a> <br />
    </div>
{{ form_end(form) }}
