{% extends '::base.html.twig' %}

{% form_theme form _self %}
{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw }}</button>
{%- endblock button_widget -%}

{% trans_default_domain "tools" %}

{% block body %}
    {{ form_start(form, {'attr': {'id': "wmw-form-ob-4", 'class': 'wmw-onboard col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4'}}) }}
        {{ form_errors(form.workExperience) }}
        {{ form_errors(form.userWorkExperiences) }}

    {{ form_widget(form.userWorkExpSerialized) }}

        <div class="wmw-onboard-body">
            <h1>
                {{ 'registration.advisor.four.title' | trans }}
                <small>{{ 'registration.advisor.four.subtitle' | trans | upper }}</small>
            </h1>
            <div class="wmw-onboard-switches">
                {% for key, workExperience in form.workExperience %}
                    <div class="wmw-onboard-switches-el" data-num="{{ key }}">
                        {{ form_label(workExperience, null, {"label_attr": {"id": ("label_" ~ workExperience.vars.id), "class": "wmw-onboard-switches-el-label"}}) }}
                        <div class="wmw-switchfield">

                            <input type="hidden" id="app_user_profile_userWorkExpSerialized_{{ key }}" name="app_user_profile[userWorkExpSerialized][{{ key }}]" required="required"  value=""/>
                            {#<input type="hidden" id="wmw-ob-mission-{{ key }}-val" value="" />#}

                            {{ form_widget(workExperience, {'attr' : {'class': 'requiredgroup:wmw-ob-missions vv-ggparent workexperience-link'}}) }}
                            <label for="{{ workExperience.vars.id }}"><span>add</span><span><a href="#">edit</a></span></label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="wmw-progressbar">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
            </div>
        </div>
        <div class="wmw-onboard-bottom">
            {% set next = '<i></i><span>' ~ form.submit.vars.label | trans ~ '</span><i></i>' %}
            {% set back = '<i></i><span>' ~ form.back.vars.label | trans ~ '</span><i></i>' %}

            {{ form_widget(form.back, {'attr': {'class': 'wmw-button wmw-button--border'}, 'label': back }) }}
            {{ form_widget(form.submit, {'attr': {'class': 'wmw-button wmw-button--green'}, 'label': next }) }}
        </div>

    </form>

    <form class="wmw-overlay" id="wmw-overlay-ob-4">
        {% include 'UserBundle:Registration:_userWorkExperiences_prototype.html.twig' with { 'form': form.userWorkExperiences.vars.prototype } %}
    </form>

    {{ form_end(form) }}

    <div class="wmw-onboard-text col-md-3 col-xl-2">
        <p>{{ 'registration.advisor.four.howtotitle' | trans | upper }}</p>
        <p>{{ 'registration.advisor.four.howtotext' | trans }}
        </p>
    </div>
{% endblock %}

