{% extends '::base.html.twig' %}
{% trans_default_domain "tools" %}
{% block body %}
{{ 'registration.advisor.one.title' | trans }}
<br>
{{ 'registration.advisor.one.subtitle' | trans | upper }}
<br>
{{ 'registration.advisor.one.howtotitle' | trans | upper }}
<br>
{{ 'registration.advisor.one.howtotext' | trans }}
<br>
<div class="well">
    {{ form_start(form) }}
        {{ form_errors(form.businessPractice) }}
        {% for businessPractice in form.businessPractice %}
            {{ form_row(businessPractice) }}
        {% endfor %}
        {{ form_widget(form.back) }}
        {{ form_widget(form.submit) }}
    {{ form_end(form) }}
</div>
{% endblock %}
