{% extends '::base.html.twig' %}

{% form_theme form "form_themes.html.twig" %}

{% trans_default_domain "tools" %}

{% block body %}

    {{ form_start(form, { 'attr' : { class : "wmw-onboard col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4" }}) }}

    <div class="wmw-onboard-body">

        <h1>
            {{ 'registration.advisor.one.title' | trans }}
            <small>{{ 'registration.advisor.one.subtitle' | trans | upper }}</small>
        </h1>

        {{ form_errors(form) }}
        {{ form_errors(form.businessPractice) }}
        <div class="wmw-onboard-businesses row">
            {% for key, businessPractice in form.businessPractice %}
                <div class="wmw-iconfield col-xs-6 col-sm-4">

                    {{ form_widget(businessPractice, {'attr' : {
                        class : 'requiredgroup:businesses vv-gparent',
                        name  : "businesses[]",
                    }}) }}

                    <label for="{{ businessPractice.vars.id }}">
                        <span>
                            <i class="icon icon--business-{{ arrayImg[businessPractice.vars.label] }}"></i><br/>
                            {{ businessPractice.vars.label | trans }}
                        </span>
                    </label>
                </div>
            {% endfor %}
        </div>

        <div class="wmw-progressbar">
            <span class="active"></span>
            <span class="active"></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="wmw-onboard-bottom">
        <a href="{{ path('expert_registration_step_zero') }}" class="wmw-button wmw-button--border">
            <i></i><span>
                {{ 'form.btn.back' | trans }}
            </span><i></i>
        </a>
        {% set next = '<i></i><span>' ~ form.submit.vars.label | trans ~ '</span><i></i>' %}
        {{ form_widget(form.submit, {'attr': {'class': 'wmw-button wmw-button--green'}, 'label': next }) }}
    </div>

    {{ form_end(form) }}

    <div class="wmw-onboard-text col-md-3 col-xl-2">
        <p>
            {{ 'registration.advisor.one.how_to_label' | trans | nl2br }}
        </p>
        <p>
            {{ 'registration.advisor.one.how_to_text' | trans | raw }}
        </p>
    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            swal({
                title: "{{ 'legends.pop_up.check_spam_title' | trans }}",
                text: "{{ 'legends.pop_up.check_spam' | trans }}"
            });

            sortUnorderedList("list", false);


        });
    </script>

{% endblock %}